openapi: 3.0.3
info:
  title: Dropbox Sign Account Fax API
  description: Dropbox Sign v3 API
  termsOfService: https://www.hellosign.com/terms
  contact:
    email: apisupport@hellosign.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 3.0.0
servers:
- url: https://api.hellosign.com/v3
security:
- api_key: []
- oauth2:
  - account_access
  - signature_request_access
  - template_access
  - team_access
  - api_app_access
  - basic_account_info
  - request_signature
tags:
- name: Fax
paths:
  /fax/{fax_id}:
    get:
      tags:
      - Fax
      summary: Get Fax
      description: Returns information about a Fax
      operationId: faxGet
      parameters:
      - name: fax_id
        in: path
        description: Fax ID
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaxGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/FaxGetResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/FaxGetExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/FaxGetExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/FaxGetExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/FaxGetExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/FaxGetExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/FaxGetExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/FaxGetExample.sh
      x-meta:
        seo:
          title: Get Fax | API Documentation | Dropbox Fax for Developers
          description: The Dropbox Fax API allows you to build custom integrations. To find out how to retrieve properties of a fax, click here.
    delete:
      tags:
      - Fax
      summary: Delete Fax
      description: Deletes the specified Fax from the system
      operationId: faxDelete
      parameters:
      - name: fax_id
        in: path
        description: Fax ID
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        '204':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/FaxDeleteExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/FaxDeleteExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/FaxDeleteExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/FaxDeleteExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/FaxDeleteExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/FaxDeleteExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/FaxDeleteExample.sh
      x-meta:
        seo:
          title: Delete Fax | API Documentation | Dropbox Fax for Developers
          description: The Dropbox Fax API allows you to build custom integrations. To find out how to delete a fax, click here.
  /fax/files/{fax_id}:
    get:
      tags:
      - Fax
      summary: Download Fax Files
      description: Downloads files associated with a Fax
      operationId: faxFiles
      parameters:
      - name: fax_id
        in: path
        description: Fax ID
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                410_example:
                  $ref: '#/components/examples/Error410Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/FaxFilesExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/FaxFilesExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/FaxFilesExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/FaxFilesExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/FaxFilesExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/FaxFilesExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/FaxFilesExample.sh
      x-meta:
        seo:
          title: Fax Files | API Documentation | Dropbox Fax for Developers
          description: The Dropbox Fax API allows you to build custom integrations. To find out how to list the files of a fax, click here.
  /fax/list:
    get:
      tags:
      - Fax
      summary: Lists Faxes
      description: Returns properties of multiple Faxes
      operationId: faxList
      parameters:
      - name: page
        in: query
        description: Which page number of the Fax List to return. Defaults to `1`.
        schema:
          type: integer
          default: 1
          minimum: 1
        example: 1
      - name: page_size
        in: query
        description: Number of objects to be returned per page. Must be between `1` and `100`. Default is `20`.
        schema:
          type: integer
          default: 20
          maximum: 100
          minimum: 1
        example: 20
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaxListResponse'
              examples:
                example:
                  $ref: '#/components/examples/FaxListResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/FaxListExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/FaxListExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/FaxListExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/FaxListExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/FaxListExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/FaxListExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/FaxListExample.sh
      x-meta:
        seo:
          title: List Faxes | API Documentation | Dropbox Fax for Developers
          description: The Dropbox Fax API allows you to build custom integrations. To find out how to list your faxes, click here.
  /fax/send:
    post:
      tags:
      - Fax
      summary: Send Fax
      description: Creates and sends a new Fax with the submitted file(s)
      operationId: faxSend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaxSendRequest'
            examples:
              example:
                $ref: '#/components/examples/FaxSendRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FaxSendRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaxGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/FaxGetResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/FaxSendExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/FaxSendExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/FaxSendExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/FaxSendExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/FaxSendExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/FaxSendExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/FaxSendExample.sh
      x-meta:
        seo:
          title: Send Fax | API Documentation | Dropbox Fax for Developers
          description: The Dropbox Fax API allows you to build custom integrations. To find out how to send a fax, click here.
components:
  examples:
    Error410Response:
      summary: Error 410 deleted
      value:
        $ref: examples/json/Error410Response.json
    FaxListResponse:
      summary: Returns the properties and settings of multiple Faxes
      value:
        $ref: examples/json/FaxListResponse.json
    FaxSendRequest:
      summary: Default Example
      value:
        $ref: examples/json/FaxSendRequest.json
    Error401Response:
      summary: Error 401 unauthorized
      value:
        $ref: examples/json/Error401Response.json
    Error400Response:
      summary: Error 400 bad_request
      value:
        $ref: examples/json/Error400Response.json
    FaxGetResponse:
      summary: Fax Response
      value:
        $ref: examples/json/FaxGetResponse.json
    Error402Response:
      summary: Error 402 payment_required
      value:
        $ref: examples/json/Error402Response.json
    Error4XXResponse:
      summary: Error 4XX failed_operation
      value:
        $ref: examples/json/Error4XXResponse.json
    Error404Response:
      summary: Error 404 not_found
      value:
        $ref: examples/json/Error404Response.json
    Error403Response:
      summary: Error 403 forbidden
      value:
        $ref: examples/json/Error403Response.json
    Error429Response:
      summary: Error 429 exceeded_rate
      value:
        $ref: examples/json/Error429Response.json
  schemas:
    FaxGetResponse:
      required:
      - fax
      properties:
        fax:
          $ref: '#/components/schemas/FaxResponse'
        warnings:
          description: A list of warnings.
          type: array
          items:
            $ref: '#/components/schemas/WarningResponse'
      type: object
      x-internal-class: true
    ErrorResponseError:
      description: Contains information about an error that occurred.
      required:
      - error_msg
      - error_name
      properties:
        error_msg:
          description: Message describing an error.
          type: string
        error_path:
          description: Path at which an error occurred.
          type: string
        error_name:
          description: Name of the error. See the `x-error-codes` catalog in openapi file for a complete list of possible error codes with detailed information including HTTP status codes, causes, remediation steps, and retry guidance.
          type: string
      type: object
    FaxResponseTransmission:
      required:
      - recipient
      - status_code
      properties:
        recipient:
          description: Fax Transmission Recipient
          type: string
        status_code:
          description: Fax Transmission Status Code
          type: string
          enum:
          - success
          - transmitting
          - error_could_not_fax
          - error_unknown
          - error_busy
          - error_no_answer
          - error_disconnected
          - error_bad_destination
        sent_at:
          description: Fax Transmission Sent Timestamp
          type: integer
      type: object
      x-internal-class: true
    FaxResponse:
      required:
      - fax_id
      - title
      - original_title
      - metadata
      - created_at
      - sender
      - files_url
      - transmissions
      properties:
        fax_id:
          description: Fax ID
          type: string
        title:
          description: Fax Title
          type: string
        original_title:
          description: Fax Original Title
          type: string
        subject:
          description: Fax Subject
          type: string
          nullable: true
        message:
          description: Fax Message
          type: string
          nullable: true
        metadata:
          description: Fax Metadata
          type: object
          additionalProperties: {}
        created_at:
          description: Fax Created At Timestamp
          type: integer
        sender:
          description: Fax Sender Email
          type: string
        files_url:
          description: Fax Files URL
          type: string
        final_copy_uri:
          description: The path where the completed document can be downloaded
          type: string
          nullable: true
        transmissions:
          description: Fax Transmissions List
          type: array
          items:
            $ref: '#/components/schemas/FaxResponseTransmission'
      type: object
      x-internal-class: true
    ErrorResponse:
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponseError'
      type: object
    FaxSendRequest:
      required:
      - recipient
      properties:
        recipient:
          description: "Recipient of the fax \nCan be a phone number in E.164 format or email address"
          type: string
          example: recipient@example.com
        sender:
          description: Fax Send From Sender (used only with fax number)
          type: string
          example: sender@example.com
        files:
          description: 'Use `files[]` to indicate the uploaded file(s) to fax


            This endpoint requires either **files** or **file_urls[]**, but not both.'
          type: array
          items:
            type: string
            format: binary
        file_urls:
          description: 'Use `file_urls[]` to have Dropbox Fax download the file(s) to fax


            This endpoint requires either **files** or **file_urls[]**, but not both.'
          type: array
          items:
            type: string
        test_mode:
          description: API Test Mode Setting
          type: boolean
          default: false
        cover_page_to:
          description: Fax cover page recipient information
          type: string
          example: Recipient Name
        cover_page_from:
          description: Fax cover page sender information
          type: string
          example: Sender Name
        cover_page_message:
          description: Fax Cover Page Message
          type: string
          example: Please find the attached documents.
        title:
          description: Fax Title
          type: string
          example: Fax Title
      type: object
    FaxListResponse:
      required:
      - faxes
      - list_info
      properties:
        faxes:
          type: array
          items:
            $ref: '#/components/schemas/FaxResponse'
        list_info:
          $ref: '#/components/schemas/ListInfoResponse'
      type: object
      x-internal-class: true
    WarningResponse:
      description: A list of warnings.
      required:
      - warning_msg
      - warning_name
      properties:
        warning_msg:
          description: Warning message
          type: string
        warning_name:
          description: Warning name
          type: string
      type: object
    ListInfoResponse:
      description: Contains pagination information about the data returned.
      properties:
        num_pages:
          description: Total number of pages available.
          type: integer
        num_results:
          description: Total number of objects available.
          type: integer
          nullable: true
        page:
          description: Number of the page being returned.
          type: integer
        page_size:
          description: Objects returned per page.
          type: integer
      type: object
      x-internal-class: true
  headers:
    X-Ratelimit-Reset:
      description: The Unix time at which the rate limit will reset to its maximum.
      schema:
        type: integer
        format: int64
        example: 1430170900
    X-RateLimit-Remaining:
      description: The number of requests remaining in the current rate limit window.
      schema:
        type: integer
        format: int32
        example: 99
    X-RateLimit-Limit:
      description: The maximum number of requests per hour that you can make.
      schema:
        type: integer
        format: int32
        example: 100
  securitySchemes:
    api_key:
      type: http
      description: 'Your API key can be used to make calls to the Dropbox Sign API. See [Authentication](/api/reference/authentication) for more information.

        ✅ Supported by Try it console (calls sent in `test_mode` only).'
      scheme: basic
    oauth2:
      type: http
      description: 'You can use an Access Token issued through an OAuth flow to send calls to the Dropbox Sign API from your app. The access scopes required by this endpoint are listed in the gray box above. See [Authentication](/api/reference/authentication) for more information.

        ❌ **Not supported** by Try it console.'
      bearerFormat: JWT
      scheme: bearer
externalDocs:
  description: Legacy API Reference
  url: https://app.hellosign.com/api/reference
x-webhooks:
  accountCallback:
    post:
      summary: Account Callbacks
      operationId: accountUpdateEventCallback
      description:
        $ref: ./markdown/en/descriptions/account-callback-description.md
      tags:
      - Callbacks and Events
      x-meta:
        seo:
          title: Account Callbacks | API Documentation | Dropbox Sign for Developers
          description: The Dropbox Sign API allows you to build with a wide range of tools. To find out how to consume Dropbox Sign Events at the account level, click here.
      x-fern-audiences:
      - events
      requestBody:
        description: "**Account Callback Payloads --**\n      Events that are reported at the Account level through the the *Account callback URL* defined in your [API settings](https://app.hellosign.com/home/myAccount#api). The *Account callback URL* can also be updated by calling [Update Account](/api/reference/operation/accountUpdate) and passing a `callback_url`."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventCallbackPayload'
            examples:
              signature_request_viewed_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestViewed'
              signature_request_signed_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestSigned'
              signature_request_signer_removed_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestSignerRemoved'
              signature_request_downloadable_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestDownloadable'
              signature_request_sent_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestSent'
              signature_request_all_signed_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestAllSigned'
              signature_request_invalid_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestInvalid'
              signature_request_email_bounce_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestEmailBounce'
              signature_request_remind_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestRemind'
              signature_request_incomplete_qes_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestIncompleteQes'
              signature_request_destroyed_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestDestroyed'
              signature_request_canceled_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestCanceled'
              signature_request_declined_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestDeclined'
              signature_request_expired_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestExpired'
              signature_request_reassigned_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestReassigned'
              signature_request_prepared_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestPrepared'
              account_confirmed_example:
                $ref: '#/components/examples/EventCallbackAccountConfirmed'
              unknown_error_example:
                $ref: '#/components/examples/EventCallbackUnknownError'
              file_error_example:
                $ref: '#/components/examples/EventCallbackFileError'
              template_created_example:
                $ref: '#/components/examples/EventCallbackTemplateCreated'
              template_error_example:
                $ref: '#/components/examples/EventCallbackTemplateError'
              sign_url_invalid_example:
                $ref: '#/components/examples/EventCallbackSignUrlInvalid'
              callback_test_example:
                $ref: '#/components/examples/EventCallbackCallbackTest'
      responses:
        200:
          $ref: '#/components/responses/EventCallbackResponse'
  appCallback:
    post:
      summary: App Callbacks
      operationId: apiAppCreateEventCallback
      description:
        $ref: ./markdown/en/descriptions/api-app-callback-description.md
      tags:
      - Callbacks and Events
      x-meta:
        seo:
          title: App Callbacks | API Documentation | Dropbox Sign for Developers
          description: The Dropbox Sign API allows you to build with a wide range of tools. To find out how to consume Dropbox Sign Events at the App level, click here.
      x-fern-audiences:
      - events
      requestBody:
        description: '**API App Callback Payloads --**

          Events that are reported at the API App level through the *Event callback URL* defined in your [API settings](https://app.hellosign.com/home/myAccount#api) for a specific app. The *Event callback URL* can also be updated by calling [Update API App](/api/reference/operation/apiAppUpdate) and passing a `callback_url`.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventCallbackPayload'
            examples:
              signature_request_viewed_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestViewed'
              signature_request_signed_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestSigned'
              signature_request_signer_removed_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestSignerRemoved'
              signature_request_downloadable_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestDownloadable'
              signature_request_sent_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestSent'
              signature_request_all_signed_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestAllSigned'
              signature_request_invalid_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestInvalid'
              signature_request_email_bounce_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestEmailBounce'
              signature_request_remind_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestRemind'
              signature_request_incomplete_qes_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestIncompleteQes'
              signature_request_destroyed_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestDestroyed'
              signature_request_canceled_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestCanceled'
              signature_request_declined_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestDeclined'
              signature_request_expired_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestExpired'
              signature_request_reassigned_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestReassigned'
              signature_request_prepared_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestPrepared'
              account_confirmed_example:
                $ref: '#/components/examples/EventCallbackAccountConfirmed'
              unknown_error_example:
                $ref: '#/components/examples/EventCallbackUnknownError'
              file_error_example:
                $ref: '#/components/examples/EventCallbackFileError'
              template_created_example:
                $ref: '#/components/examples/EventCallbackTemplateCreated'
              template_error_example:
                $ref: '#/components/examples/EventCallbackTemplateError'
              sign_url_invalid_example:
                $ref: '#/components/examples/EventCallbackSignUrlInvalid'
              callback_test_example:
                $ref: '#/components/examples/EventCallbackCallbackTest'
      responses:
        200:
          $ref: '#/components/responses/EventCallbackResponse'
x-error-codes:
  bad_request:
    http_status: 400
    summary: The request contained invalid or malformed parameters.
    cause: A parameter failed validation, or the request body was malformed.
    remediation: Inspect error_msg and error_path, correct the offending parameter, and resend.
    retryable: 'no'
  unauthorized:
    http_status: 401
    summary: The credentials supplied are missing or invalid.
    cause: Missing, malformed, or invalid API key or OAuth access token.
    remediation: Verify the API key or OAuth token and the Authorization header, then retry.
    retryable: 'no'
  payment_required:
    http_status: 402
    summary: The account must be credited or upgraded to perform this action.
    cause: The action requires a paid plan, additional quota, or API credits.
    remediation: Upgrade the plan or add the required credits/quota, then retry.
    retryable: 'no'
  forbidden:
    http_status: 403
    summary: The action is not allowed for these credentials or in the current context.
    cause: The authenticated account lacks access to the resource or operation.
    remediation: Confirm the account has access to the resource and the required permissions.
    retryable: 'no'
  not_found:
    http_status: 404
    summary: Nothing matches the requested resource.
    cause: The resource id does not exist or is not visible to this account.
    remediation: Verify the id and that the resource belongs to the authenticated account.
    retryable: 'no'
  conflict:
    http_status: 409
    summary: The request was well-formed but conflicts with the current state.
    cause: The target resource is in a state incompatible with the request (e.g. a signature request is still being set up).
    remediation: Wait briefly and retry, or listen for a callback event confirming the resource is ready.
    retryable: conditional
  exceeded_rate:
    http_status: 429
    summary: Your account's API request rate limit has been exceeded.
    cause: Too many requests were sent within the rate-limit window for this request type.
    remediation: Pace requests using the X-RateLimit-* response headers and retry after the window resets.
    retryable: 'yes'
    backoff: Honor X-Ratelimit-Reset (Unix epoch); otherwise exponential backoff with jitter. No Retry-After header is sent.
  unknown:
    http_status: 500
    summary: An unexpected error occurred.
    cause: An unhandled server-side error, or a status code without a more specific error_name.
    remediation: Retry transient failures; if it persists, contact support with the request details.
    retryable: conditional
    backoff: For transient 5xx, retry with exponential backoff; otherwise do not retry.
  team_invite_failed:
    http_status: 403
    summary: The team invitation could not be completed.
    cause: The invitee already belongs to a team, or the invite is otherwise not permitted.
    remediation: Confirm the invitee is not already on a team before inviting.
    retryable: 'no'
  max_faxes:
    http_status: 429
    summary: Too many fax transmissions are currently pending or transmitting.
    cause: The account has reached the limit of concurrent in-flight fax transmissions.
    remediation: Wait for outstanding transmissions to complete, then retry.
    retryable: 'yes'
    backoff: Retry with exponential backoff once pending transmissions clear.
  invalid_recipient:
    http_status: 400
    summary: The recipient (fax number or email address) is invalid.
    cause: A recipient value did not pass validation.
    remediation: Correct the recipient value and resend.
    retryable: 'no'
  signature_request_cancel_failed:
    http_status: 400
    summary: The signature request could not be cancelled.
    cause: The caller is not the requester, or the request is already fully executed/closed.
    remediation: Only the requester can cancel, and only before the request is fully executed.
    retryable: 'no'
  signature_request_remove_failed:
    http_status: 400
    summary: Access to the signature request could not be removed.
    cause: The signature request has not yet been fully executed, so access cannot be revoked.
    remediation: Wait until all parties have signed, or call /signature_request/cancel to cancel incomplete requests instead.
    retryable: 'no'
  maintenance:
    http_status: 503
    summary: The request could not be completed because the site is under maintenance.
    cause: The API is in a scheduled maintenance window.
    remediation: Retry once the maintenance window ends.
    retryable: 'yes'
    backoff: Retry later with exponential backoff.
  method_not_supported:
    http_status: 405
    summary: The HTTP method is not supported for this endpoint.
    cause: The request used a verb the endpoint does not accept.
    remediation: Use the HTTP method documented for the endpoint.
    retryable: 'no'
  invalid_reminder:
    http_status: 400
    summary: The signature request reminder was invalid.
    cause: A reminder was attempted against an ineligible request (e.g. embedded, closed, or expired).
    remediation: Only send reminders for eligible (non-embedded, open) signature requests.
    retryable: 'no'
  unavailable:
    http_status: 503
    summary: The service is temporarily unavailable.
    cause: A downstream dependency or the service itself is temporarily unavailable.
    remediation: Retry later with exponential backoff.
    retryable: 'yes'
    backoff: Retry later with exponential backoff and jitter.
  unprocessable_entity:
    http_status: 422
    summary: The request was understood but the target entity cannot be processed.
    cause: The resource is still being processed, or it is in an error state.
    remediation: If the resource is still processing, wait and retry; if it is in an error state, recreate/resend it instead of retrying.
    retryable: conditional
    backoff: If still processing, retry with exponential backoff; if in an error state, do not retry.
  signature_request_expired:
    http_status:
    - 400
    - 403
    summary: The signature request has expired.
    cause: The operation targets a request whose expiration has passed. Most endpoints return 400; final-copy/download endpoints return 403.
    remediation: The request can no longer be acted upon; create a new signature request.
    retryable: 'no'
  deleted:
    http_status: 410
    summary: The request was cancelled or deleted.
    cause: The resource has been cancelled or removed and is no longer available.
    remediation: Do not retry; the resource is permanently gone.
    retryable: 'no'
x-oauth-error-codes:
  invalid_grant:
    http_status:
    - 400
    - 401
    summary: The OAuth grant (authorization code or refresh token) is invalid or expired.
    cause: The code/token was already used, expired, or does not match the client.
    remediation: Re-initiate the OAuth flow to obtain a fresh authorization code.
    retryable: 'no'
  invalid_client:
    http_status: 400
    summary: The OAuth client credentials are invalid.
    cause: The client_id or client_secret is unrecognized or incorrect.
    remediation: Verify the client_id and client_secret from the API app settings.
    retryable: 'no'
  invalid_request:
    http_status: 400
    summary: The OAuth request is malformed or missing required parameters.
    cause: A required parameter is missing, or the request format is invalid.
    remediation: Check the request against the OAuth token endpoint documentation.
    retryable: 'no'
  unauthorized_client:
    http_status:
    - 401
    - 403
    summary: The OAuth client is not authorized to perform this action.
    cause: The app has not been approved, or the action is outside the granted scopes.
    remediation: Ensure the app is approved and the required scopes are granted.
    retryable: 'no'
  unsupported_grant_type:
    http_status: 400
    summary: The grant type is not supported.
    cause: The grant_type parameter value is not recognized.
    remediation: Use authorization_code or refresh_token as the grant_type.
    retryable: 'no'
  payment_required:
    http_status: 402
    summary: The account requires a paid plan to use this OAuth app.
    cause: The authorizing account does not have a plan that supports this integration.
    remediation: Upgrade the account to a plan that includes OAuth app access.
    retryable: 'no'
  addon_required:
    http_status: 402
    summary: An add-on is required to use this OAuth app.
    cause: The account plan does not include the add-on needed for this integration.
    remediation: Add the required add-on to the account subscription.
    retryable: 'no'
  invalid_scope:
    http_status: 400
    summary: The requested OAuth scope is invalid.
    cause: The scope parameter contains values not permitted for the app.
    remediation: Request only scopes that the app is configured to use.
    retryable: 'no'
  quota_reached:
    http_status: 402
    summary: The account has reached its usage quota for this OAuth app.
    cause: The authorizing account has exhausted its quota for the integration.
    remediation: Contact the app owner or upgrade the account quota.
    retryable: 'no'
  server_error:
    http_status: 500
    summary: An internal server error occurred during OAuth processing.
    cause: An unexpected error on the server side while handling the OAuth request.
    remediation: Retry the request; if it persists, contact support.
    retryable: 'yes'
    backoff: Retry with exponential backoff.
  temporary_unavailable:
    http_status: 503
    summary: The OAuth service is temporarily unavailable.
    cause: The service is under maintenance or experiencing temporary issues.
    remediation: Retry after a short delay.
    retryable: 'yes'
    backoff: Retry with exponential backoff.
x-error-events:
  signature_request_invalid:
    event_type: signature_request_invalid
    delivery: webhook
    summary: Asynchronous error while processing a signature request.
    cause: A signature request could not be processed (e.g. invalid tags, fields, or merge data).
    remediation: Inspect event.event_metadata.event_message in the callback, correct the request, and resend.
    retryable: conditional
  unknown_error:
    event_type: unknown_error
    delivery: webhook
    summary: An unspecified asynchronous processing error occurred.
    cause: An unexpected error occurred while processing the request asynchronously.
    remediation: Check the request status in the API dashboard; retry or contact support if it persists.
    retryable: conditional
  file_error:
    event_type: file_error
    delivery: webhook
    summary: Asynchronous error while processing an uploaded file.
    cause: A file attached to a request could not be processed.
    remediation: Resend the request with a supported, non-corrupt file.
    retryable: conditional
  template_error:
    event_type: template_error
    delivery: webhook
    summary: Asynchronous error while creating a template.
    cause: Template file processing failed (e.g. unsupported or corrupt file).
    remediation: Recreate the template with a valid file; check status in the API dashboard.
    retryable: conditional
  sign_url_invalid:
    event_type: sign_url_invalid
    delivery: webhook
    summary: An embedded signing URL has expired or become invalid.
    cause: The embedded sign_url is no longer valid (e.g. expired).
    remediation: Generate a fresh embedded sign_url via the embedded sign URL endpoint.
    retryable: 'yes'
