openapi: 3.0.3
info:
  title: Dropbox Sign Account Unclaimed Draft API
  description: Dropbox Sign v3 API
  termsOfService: https://www.hellosign.com/terms
  contact:
    email: apisupport@hellosign.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 3.0.0
servers:
- url: https://api.hellosign.com/v3
security:
- api_key: []
- oauth2:
  - account_access
  - signature_request_access
  - template_access
  - team_access
  - api_app_access
  - basic_account_info
  - request_signature
tags:
- name: Unclaimed Draft
  description:
    $ref: ./markdown/en/tags/unclaimed-draft-tag-description.md
paths:
  /unclaimed_draft/create:
    post:
      tags:
      - Unclaimed Draft
      summary: Create Unclaimed Draft
      description: Creates a new Draft that can be claimed using the claim URL. The first authenticated user to access the URL will claim the Draft and will be shown either the "Sign and send" or the "Request signature" page with the Draft loaded. Subsequent access to the claim URL will result in a 404.
      operationId: unclaimedDraftCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnclaimedDraftCreateRequest'
            examples:
              example:
                $ref: '#/components/examples/UnclaimedDraftCreateRequest'
              form_fields_per_document_example:
                $ref: '#/components/examples/UnclaimedDraftCreateRequestFormFieldsPerDocument'
              form_field_groups_example:
                $ref: '#/components/examples/UnclaimedDraftCreateRequestFormFieldGroups'
              form_field_rules_example:
                $ref: '#/components/examples/UnclaimedDraftCreateRequestFormFieldRules'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UnclaimedDraftCreateRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnclaimedDraftCreateResponse'
              examples:
                example:
                  $ref: '#/components/examples/UnclaimedDraftCreateResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      - oauth2:
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/UnclaimedDraftCreateExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/UnclaimedDraftCreateExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/UnclaimedDraftCreateExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/UnclaimedDraftCreateExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/UnclaimedDraftCreateExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/UnclaimedDraftCreateExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/UnclaimedDraftCreateExample.sh
      x-meta:
        seo:
          title: Create Unclaimed Draft | REST API | Dropbox Sign for Developers
          description: The Dropbox Sign API allows you to build eSign integrations. To find out how to create a new Signature Request Draft that can be claimed using the claim URL, click here.
  /unclaimed_draft/create_embedded:
    post:
      tags:
      - Unclaimed Draft
      summary: Create Embedded Unclaimed Draft
      description: 'Creates a new Draft that can be claimed and used in an embedded iFrame. The first authenticated user to access the URL will claim the Draft and will be shown the "Request signature" page with the Draft loaded. Subsequent access to the claim URL will result in a `404`. For this embedded endpoint the `requester_email_address` parameter is required.


        **NOTE:** Embedded unclaimed drafts can only be accessed in embedded iFrames whereas normal drafts can be used and accessed on Dropbox Sign.'
      operationId: unclaimedDraftCreateEmbedded
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnclaimedDraftCreateEmbeddedRequest'
            examples:
              example:
                $ref: '#/components/examples/UnclaimedDraftCreateEmbeddedRequest'
              form_fields_per_document_example:
                $ref: '#/components/examples/UnclaimedDraftCreateEmbeddedRequestFormFieldsPerDocument'
              form_field_groups_example:
                $ref: '#/components/examples/UnclaimedDraftCreateEmbeddedRequestFormFieldGroups'
              form_field_rules_example:
                $ref: '#/components/examples/UnclaimedDraftCreateEmbeddedRequestFormFieldRules'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UnclaimedDraftCreateEmbeddedRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnclaimedDraftCreateResponse'
              examples:
                example:
                  $ref: '#/components/examples/UnclaimedDraftCreateEmbeddedResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                409_example:
                  $ref: '#/components/examples/Error409Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/UnclaimedDraftCreateEmbeddedExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/UnclaimedDraftCreateEmbeddedExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/UnclaimedDraftCreateEmbeddedExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/UnclaimedDraftCreateEmbeddedExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/UnclaimedDraftCreateEmbeddedExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/UnclaimedDraftCreateEmbeddedExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/UnclaimedDraftCreateEmbeddedExample.sh
      x-meta:
        seo:
          title: Create Embedded Unclaimed Draft | Dropbox Sign for Developers
          description: The Dropbox Sign API allows you to build custom integrations. To find out how to create and embed a the creation of a Signature Request in an iFrame, click here.
  /unclaimed_draft/create_embedded_with_template:
    post:
      tags:
      - Unclaimed Draft
      summary: Create Embedded Unclaimed Draft with Template
      description: 'Creates a new Draft with a previously saved template(s) that can be claimed and used in an embedded iFrame. The first authenticated user to access the URL will claim the Draft and will be shown the "Request signature" page with the Draft loaded. Subsequent access to the claim URL will result in a `404`. For this embedded endpoint the `requester_email_address` parameter is required.


        **NOTE:** Embedded unclaimed drafts can only be accessed in embedded iFrames whereas normal drafts can be used and accessed on Dropbox Sign.'
      operationId: unclaimedDraftCreateEmbeddedWithTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnclaimedDraftCreateEmbeddedWithTemplateRequest'
            examples:
              example:
                $ref: '#/components/examples/UnclaimedDraftCreateEmbeddedWithTemplateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UnclaimedDraftCreateEmbeddedWithTemplateRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnclaimedDraftCreateResponse'
              examples:
                example:
                  $ref: '#/components/examples/UnclaimedDraftCreateEmbeddedWithTemplateResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                409_example:
                  $ref: '#/components/examples/Error409Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      - oauth2:
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/UnclaimedDraftCreateEmbeddedWithTemplateExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/UnclaimedDraftCreateEmbeddedWithTemplateExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/UnclaimedDraftCreateEmbeddedWithTemplateExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/UnclaimedDraftCreateEmbeddedWithTemplateExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/UnclaimedDraftCreateEmbeddedWithTemplateExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/UnclaimedDraftCreateEmbeddedWithTemplateExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/UnclaimedDraftCreateEmbeddedWithTemplateExample.sh
      x-meta:
        seo:
          title: Embed Unclaimed Draft with Template | Dropbox Sign for Developers
          description: The Dropbox Sign API easily allows you to build custom integrations. To find out how to create a new Draft with a previously saved template, click here.
  /unclaimed_draft/edit_and_resend/{signature_request_id}:
    post:
      tags:
      - Unclaimed Draft
      summary: Edit and Resend Unclaimed Draft
      description: 'Creates a new signature request from an embedded request that can be edited prior to being sent to the recipients. Parameter `test_mode` can be edited prior to request. Signers can be edited in embedded editor. Requester''s email address will remain unchanged if `requester_email_address` parameter is not set.


        **NOTE:** Embedded unclaimed drafts can only be accessed in embedded iFrames whereas normal drafts can be used and accessed on Dropbox Sign.'
      operationId: unclaimedDraftEditAndResend
      parameters:
      - name: signature_request_id
        in: path
        description: The ID of the signature request to edit and resend.
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnclaimedDraftEditAndResendRequest'
            examples:
              example:
                $ref: '#/components/examples/UnclaimedDraftEditAndResendRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnclaimedDraftCreateResponse'
              examples:
                example:
                  $ref: '#/components/examples/UnclaimedDraftEditAndResend'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                409_example:
                  $ref: '#/components/examples/Error409Response'
                410_example:
                  $ref: '#/components/examples/Error410Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/UnclaimedDraftEditAndResendExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/UnclaimedDraftEditAndResendExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/UnclaimedDraftEditAndResendExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/UnclaimedDraftEditAndResendExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/UnclaimedDraftEditAndResendExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/UnclaimedDraftEditAndResendExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/UnclaimedDraftEditAndResendExample.sh
      x-meta:
        seo:
          title: Edit and Resend Unclaimed Draft | Dropbox Sign for Developers
          description: The Dropbox Sign API easily allows you to build custom integrations. To find out how to create a new signature request from an embedded request, click here.
components:
  examples:
    Error410Response:
      summary: Error 410 deleted
      value:
        $ref: examples/json/Error410Response.json
    UnclaimedDraftCreateEmbeddedRequestFormFieldGroups:
      summary: Form Fields Per Document and Groups Example
      value:
        $ref: examples/json/UnclaimedDraftCreateEmbeddedRequestFormFieldGroups.json
    UnclaimedDraftEditAndResend:
      summary: Unclaimed Draft Edit and Resend
      value:
        $ref: examples/json/UnclaimedDraftEditAndResend.json
    UnclaimedDraftCreateEmbeddedRequestFormFieldRules:
      summary: Form Fields Per Document and Rules Example
      value:
        $ref: examples/json/UnclaimedDraftCreateEmbeddedRequestFormFieldRules.json
    Error401Response:
      summary: Error 401 unauthorized
      value:
        $ref: examples/json/Error401Response.json
    UnclaimedDraftCreateEmbeddedRequest:
      summary: Default Example
      value:
        $ref: examples/json/UnclaimedDraftCreateEmbeddedRequest.json
    UnclaimedDraftCreateEmbeddedWithTemplateResponse:
      summary: Unclaimed Draft Create Embedded With Template
      value:
        $ref: examples/json/UnclaimedDraftCreateEmbeddedWithTemplateResponse.json
    UnclaimedDraftCreateRequestFormFieldsPerDocument:
      summary: Form Fields Per Document Example
      value:
        $ref: examples/json/UnclaimedDraftCreateRequestFormFieldsPerDocument.json
    UnclaimedDraftCreateEmbeddedWithTemplateRequest:
      summary: Default Example
      value:
        $ref: examples/json/UnclaimedDraftCreateEmbeddedWithTemplateRequest.json
    UnclaimedDraftCreateRequestFormFieldGroups:
      summary: Form Fields Per Document and Groups Example
      value:
        $ref: examples/json/UnclaimedDraftCreateRequestFormFieldGroups.json
    UnclaimedDraftCreateResponse:
      summary: Unclaimed Draft Create
      value:
        $ref: examples/json/UnclaimedDraftCreateResponse.json
    UnclaimedDraftCreateRequestFormFieldRules:
      summary: Form Fields Per Document and Rules Example
      value:
        $ref: examples/json/UnclaimedDraftCreateRequestFormFieldRules.json
    Error409Response:
      summary: Error 409 conflict
      value:
        $ref: examples/json/Error409Response.json
    Error400Response:
      summary: Error 400 bad_request
      value:
        $ref: examples/json/Error400Response.json
    UnclaimedDraftCreateEmbeddedResponse:
      summary: Unclaimed Draft Create Embedded
      value:
        $ref: examples/json/UnclaimedDraftCreateEmbeddedResponse.json
    Error402Response:
      summary: Error 402 payment_required
      value:
        $ref: examples/json/Error402Response.json
    Error4XXResponse:
      summary: Error 4XX failed_operation
      value:
        $ref: examples/json/Error4XXResponse.json
    Error404Response:
      summary: Error 404 not_found
      value:
        $ref: examples/json/Error404Response.json
    UnclaimedDraftEditAndResendRequest:
      summary: Default Example
      value:
        $ref: examples/json/UnclaimedDraftEditAndResendRequest.json
    Error403Response:
      summary: Error 403 forbidden
      value:
        $ref: examples/json/Error403Response.json
    UnclaimedDraftCreateEmbeddedRequestFormFieldsPerDocument:
      summary: Form Fields Per Document Example
      value:
        $ref: examples/json/UnclaimedDraftCreateEmbeddedRequestFormFieldsPerDocument.json
    Error429Response:
      summary: Error 429 exceeded_rate
      value:
        $ref: examples/json/Error429Response.json
    UnclaimedDraftCreateRequest:
      summary: Default Example
      value:
        $ref: examples/json/UnclaimedDraftCreateRequest.json
  schemas:
    SubFormFieldRuleTrigger:
      required:
      - id
      - operator
      properties:
        id:
          description: Must reference the `api_id` of an existing field defined within `form_fields_per_document`. Trigger and action fields and groups must belong to the same signer.
          type: string
        operator:
          description: "Different field types allow different `operator` values:\n- Field type of **text**:\n  - **is**: exact match\n  - **not**: not exact match\n  - **match**: regular expression, without /. Example:\n    - OK `[a-zA-Z0-9]`\n    - Not OK `/[a-zA-Z0-9]/`\n- Field type of **dropdown**:\n  - **is**: exact match, single value\n  - **not**: not exact match, single value\n  - **any**: exact match, array of values.\n  - **none**: not exact match, array of values.\n- Field type of **checkbox**:\n  - **is**: exact match, single value\n  - **not**: not exact match, single value\n- Field type of **radio**:\n  - **is**: exact match, single value\n  - **not**: not exact match, single value"
          type: string
          enum:
          - any
          - is
          - match
          - none
          - not
        value:
          description: "**value** or **values** is required, but not both.\n\nThe value to match against **operator**.\n\n- When **operator** is one of the following, **value** must be `String`:\n  - `is`\n  - `not`\n  - `match`\n\nOtherwise,\n- **checkbox**: When **type** of trigger is **checkbox**, **value** must be `0` or `1`\n- **radio**: When **type** of trigger is **radio**, **value** must be `1`"
          type: string
        values:
          description: '**values** or **value** is required, but not both.


            The values to match against **operator** when it is one of the following:


            - `any`

            - `none`'
          type: array
          items:
            type: string
      type: object
    UnclaimedDraftEditAndResendRequest:
      required:
      - client_id
      properties:
        client_id:
          description: Client id of the app used to create the draft. Used to apply the branding and callback url defined for the app.
          type: string
        editor_options:
          $ref: '#/components/schemas/SubEditorOptions'
        is_for_embedded_signing:
          description: The request created from this draft will also be signable in embedded mode if set to `true`.
          type: boolean
        requester_email_address:
          description: The email address of the user that should be designated as the requester of this draft. If not set, original requester's email address will be used.
          type: string
          format: email
        requesting_redirect_url:
          description: The URL you want signers redirected to after they successfully request a signature.
          type: string
        show_progress_stepper:
          description: When only one step remains in the signature request process and this parameter is set to `false` then the progress stepper will be hidden.
          type: boolean
          default: true
        signing_redirect_url:
          description: The URL you want signers redirected to after they successfully sign.
          type: string
        test_mode:
          description: Whether this is a test, the signature request created from this draft will not be legally binding if set to `true`. Defaults to `false`.
          type: boolean
          default: false
      type: object
    SubCustomField:
      description: 'When used together with merge fields, `custom_fields` allows users to add pre-filled data to their signature requests.


        Pre-filled data can be used with "send-once" signature requests by adding merge fields with `form_fields_per_document` or [Text Tags](https://app.hellosign.com/api/textTagsWalkthrough#TextTagIntro) while passing values back with `custom_fields` together in one API call.


        For using pre-filled on repeatable signature requests, merge fields are added to templates in the Dropbox Sign UI or by calling [/template/create_embedded_draft](/api/reference/operation/templateCreateEmbeddedDraft) and then passing `custom_fields` on subsequent signature requests referencing that template.'
      required:
      - name
      properties:
        editor:
          description: 'Used to create editable merge fields. When the value matches a role passed in with `signers`, that role can edit the data that was pre-filled to that field. This field is optional, but required when this custom field object is set to `required = true`.


            **NOTE:** Editable merge fields are only supported for single signer requests (or the first signer in ordered signature requests). If used when there are multiple signers in an unordered signature request, the editor value is ignored and the field won''t be editable.'
          type: string
        name:
          description: The name of a custom field. When working with pre-filled data, the custom field's name must have a matching merge field name or the field will remain empty on the document during signing.
          type: string
        required:
          description: Used to set an editable merge field when working with pre-filled data. When `true`, the custom field must specify a signer role in `editor`.
          type: boolean
          default: false
        value:
          description: The string that resolves (aka "pre-fills") to the merge field on the final document(s) used for signing.
          type: string
      type: object
    SubFormFieldsPerDocumentBase:
      description: 'The fields that should appear on the document, expressed as an array of objects. (For more details you can read about it here: [Using Form Fields per Document](/docs/openapi/form-fields-per-document).)


        **NOTE:** Fields like **text**, **dropdown**, **checkbox**, **radio**, and **hyperlink** have additional required and optional parameters. Check out the list of [additional parameters](/api/reference/constants/#form-fields-per-document) for these field types.


        * Text Field use `SubFormFieldsPerDocumentText`

        * Dropdown Field use `SubFormFieldsPerDocumentDropdown`

        * Hyperlink Field use `SubFormFieldsPerDocumentHyperlink`

        * Checkbox Field use `SubFormFieldsPerDocumentCheckbox`

        * Radio Field use `SubFormFieldsPerDocumentRadio`

        * Signature Field use `SubFormFieldsPerDocumentSignature`

        * Date Signed Field use `SubFormFieldsPerDocumentDateSigned`

        * Initials Field use `SubFormFieldsPerDocumentInitials`

        * Text Merge Field use `SubFormFieldsPerDocumentTextMerge`

        * Checkbox Merge Field use `SubFormFieldsPerDocumentCheckboxMerge`'
      required:
      - document_index
      - api_id
      - type
      - required
      - signer
      - width
      - height
      - x
      - y
      properties:
        document_index:
          description: Represents the integer index of the `file` or `file_url` document the field should be attached to.
          type: integer
        api_id:
          description: An identifier for the field that is unique across all documents in the request.
          type: string
        height:
          description: Size of the field in pixels.
          type: integer
        name:
          description: Display name for the field.
          type: string
        page:
          description: 'Page in the document where the field should be placed (requires documents be PDF files).


            - When the page number parameter is supplied, the API will use the new coordinate system.

            - Check out the differences between both [coordinate systems](https://faq.hellosign.com/hc/en-us/articles/217115577) and how to use them.'
          type: integer
          nullable: true
        required:
          description: Whether this field is required.
          type: boolean
        signer:
          description: 'Signer index identified by the offset in the signers parameter (0-based indexing), indicating which signer should fill out the field.


            **NOTE:** To set the value of the field as the preparer you must set this to `me_now`


            **NOTE:** If type is `text-merge` or `checkbox-merge`, you must set this to sender in order to use pre-filled data.'
          type: string
          x-int-or-string: true
        type:
          type: string
        width:
          description: Size of the field in pixels.
          type: integer
        x:
          description: Location coordinates of the field in pixels.
          type: integer
        y:
          description: Location coordinates of the field in pixels.
          type: integer
      type: object
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/SubFormFieldsPerDocumentText'
          dropdown: '#/components/schemas/SubFormFieldsPerDocumentDropdown'
          hyperlink: '#/components/schemas/SubFormFieldsPerDocumentHyperlink'
          checkbox: '#/components/schemas/SubFormFieldsPerDocumentCheckbox'
          radio: '#/components/schemas/SubFormFieldsPerDocumentRadio'
          signature: '#/components/schemas/SubFormFieldsPerDocumentSignature'
          date_signed: '#/components/schemas/SubFormFieldsPerDocumentDateSigned'
          initials: '#/components/schemas/SubFormFieldsPerDocumentInitials'
          text-merge: '#/components/schemas/SubFormFieldsPerDocumentTextMerge'
          checkbox-merge: '#/components/schemas/SubFormFieldsPerDocumentCheckboxMerge'
      x-internal-class: true
      x-base-class: true
    UnclaimedDraftCreateRequest:
      description: ''
      required:
      - type
      properties:
        files:
          description: 'Use `files[]` to indicate the uploaded file(s) to send for signature.


            This endpoint requires either **files** or **file_urls[]**, but not both.'
          type: array
          items:
            type: string
            format: binary
        file_urls:
          description: 'Use `file_urls[]` to have Dropbox Sign download the file(s) to send for signature.


            This endpoint requires either **files** or **file_urls[]**, but not both.'
          type: array
          items:
            type: string
        allow_decline:
          description: Allows signers to decline to sign a document if `true`. Defaults to `false`.
          type: boolean
          default: false
        attachments:
          description: A list describing the attachments
          type: array
          items:
            $ref: '#/components/schemas/SubAttachment'
        cc_email_addresses:
          description: The email addresses that should be CCed.
          type: array
          items:
            type: string
            format: email
        client_id:
          description: Client id of the app used to create the draft. Used to apply the branding and callback url defined for the app.
          type: string
        custom_fields:
          description: 'When used together with merge fields, `custom_fields` allows users to add pre-filled data to their signature requests.


            Pre-filled data can be used with "send-once" signature requests by adding merge fields with `form_fields_per_document` or [Text Tags](https://app.hellosign.com/api/textTagsWalkthrough#TextTagIntro) while passing values back with `custom_fields` together in one API call.


            For using pre-filled on repeatable signature requests, merge fields are added to templates in the Dropbox Sign UI or by calling [/template/create_embedded_draft](/api/reference/operation/templateCreateEmbeddedDraft) and then passing `custom_fields` on subsequent signature requests referencing that template.'
          type: array
          items:
            $ref: '#/components/schemas/SubCustomField'
        field_options:
          $ref: '#/components/schemas/SubFieldOptions'
        form_field_groups:
          description: Group information for fields defined in `form_fields_per_document`. String-indexed JSON array with `group_label` and `requirement` keys. `form_fields_per_document` must contain fields referencing a group defined in `form_field_groups`.
          type: array
          items:
            $ref: '#/components/schemas/SubFormFieldGroup'
        form_field_rules:
          description: Conditional Logic rules for fields defined in `form_fields_per_document`.
          type: array
          items:
            $ref: '#/components/schemas/SubFormFieldRule'
        form_fields_per_document:
          description: 'The fields that should appear on the document, expressed as an array of objects. (For more details you can read about it here: [Using Form Fields per Document](/docs/openapi/form-fields-per-document).)


            **NOTE:** Fields like **text**, **dropdown**, **checkbox**, **radio**, and **hyperlink** have additional required and optional parameters. Check out the list of [additional parameters](/api/reference/constants/#form-fields-per-document) for these field types.


            * Text Field use `SubFormFieldsPerDocumentText`

            * Dropdown Field use `SubFormFieldsPerDocumentDropdown`

            * Hyperlink Field use `SubFormFieldsPerDocumentHyperlink`

            * Checkbox Field use `SubFormFieldsPerDocumentCheckbox`

            * Radio Field use `SubFormFieldsPerDocumentRadio`

            * Signature Field use `SubFormFieldsPerDocumentSignature`

            * Date Signed Field use `SubFormFieldsPerDocumentDateSigned`

            * Initials Field use `SubFormFieldsPerDocumentInitials`

            * Text Merge Field use `SubFormFieldsPerDocumentTextMerge`

            * Checkbox Merge Field use `SubFormFieldsPerDocumentCheckboxMerge`'
          type: array
          items:
            $ref: '#/components/schemas/SubFormFieldsPerDocumentBase'
        hide_text_tags:
          description: Send with a value of `true` if you wish to enable automatic Text Tag removal. Defaults to `false`. When using Text Tags it is preferred that you set this to `false` and hide your tags with white text or something similar because the automatic removal system can cause unwanted clipping. See the [Text Tags](https://app.hellosign.com/api/textTagsWalkthrough#TextTagIntro) walkthrough for more details.
          type: boolean
          default: false
        message:
          description: The custom message in the email that will be sent to the signers.
          type: string
          maxLength: 5000
        metadata:
          description: 'Key-value data that should be attached to the signature request. This metadata is included in all API responses and events involving the signature request. For example, use the metadata field to store a signer''s order number for look up when receiving events for the signature request.


            Each request can include up to 10 metadata keys (or 50 nested metadata keys), with key names up to 40 characters long and values up to 1000 characters long.'
          type: object
          maxItems: 10
          additionalProperties: {}
        show_progress_stepper:
          description: When only one step remains in the signature request process and this parameter is set to `false` then the progress stepper will be hidden.
          type: boolean
          default: true
        signers:
          description: Add Signers to your Unclaimed Draft Signature Request.
          type: array
          items:
            $ref: '#/components/schemas/SubUnclaimedDraftSigner'
        signing_options:
          $ref: '#/components/schemas/SubSigningOptions'
        signing_redirect_url:
          description: The URL you want signers redirected to after they successfully sign.
          type: string
        subject:
          description: The subject in the email that will be sent to the signers.
          type: string
          maxLength: 200
        test_mode:
          description: Whether this is a test, the signature request created from this draft will not be legally binding if set to `true`. Defaults to `false`.
          type: boolean
          default: false
        type:
          description: The type of unclaimed draft to create. Use `send_document` to create a claimable file, and `request_signature` for a claimable signature request. If the type is `request_signature` then signers name and email_address are not optional.
          type: string
          enum:
          - send_document
          - request_signature
        use_preexisting_fields:
          description: Set `use_text_tags` to `true` to enable [Text Tags](https://app.hellosign.com/api/textTagsWalkthrough#TextTagIntro) parsing in your document (defaults to disabled, or `false`). Alternatively, if your PDF contains pre-defined fields, enable the detection of these fields by setting the `use_preexisting_fields` to `true` (defaults to disabled, or `false`). Currently we only support use of either `use_text_tags` or `use_preexisting_fields` parameter, not both.
          type: boolean
          default: false
        use_text_tags:
          description: Set `use_text_tags` to `true` to enable [Text Tags](https://app.hellosign.com/api/textTagsWalkthrough#TextTagIntro) parsing in your document (defaults to disabled, or `false`). Alternatively, if your PDF contains pre-defined fields, enable the detection of these fields by setting the `use_preexisting_fields` to `true` (defaults to disabled, or `false`). Currently we only support use of either `use_text_tags` or `use_preexisting_fields` parameter, not both.
          type: boolean
          default: false
        expires_at:
          description: 'When the signature request will expire. Unsigned signatures will be moved to the expired status, and no longer signable. See [Signature Request Expiration Date](https://developers.hellosign.com/docs/signature-request/expiration/) for details.


            **NOTE:** This does not correspond to the **expires_at** returned in the response.'
          type: integer
          nullable: true
      type: object
    SubFormFieldGroup:
      required:
      - group_id
      - group_label
      - requirement
      properties:
        group_id:
          description: ID of group. Use this to reference a specific group from the `group` value in `form_fields_per_document`.
          type: string
        group_label:
          description: Name of the group
          type: string
        requirement:
          description: 'Examples: `require_0-1` `require_1` `require_1-ormore`


            - Check out the list of [acceptable `requirement` checkbox type values](/api/reference/constants/#checkbox-field-grouping).

            - Check out the list of [acceptable `requirement` radio type fields](/api/reference/constants/#radio-field-grouping).

            - Radio groups require **at least** two fields per group.'
          type: string
      type: object
    SubUnclaimedDraftTemplateSigner:
      required:
      - role
      - name
      - email_address
      properties:
        role:
          description: Must match an existing role in chosen Template(s).
          type: string
        name:
          description: The name of the signer filling the role of `role`.
          type: string
        email_address:
          description: The email address of the signer filling the role of `role`.
          type: string
          format: email
      type: object
    SubFormFieldRuleAction:
      required:
      - hidden
      - type
      properties:
        field_id:
          description: '**field_id** or **group_id** is required, but not both.


            Must reference the `api_id` of an existing field defined within `form_fields_per_document`.


            Cannot use with `group_id`. Trigger and action fields must belong to the same signer.'
          type: string
        group_id:
          description: '**group_id** or **field_id** is required, but not both.


            Must reference the ID of an existing group defined within `form_field_groups`.


            Cannot use with `field_id`. Trigger and action fields and groups must belong to the same signer.'
          type: string
        hidden:
          description: '`true` to hide the target field when rule is satisfied, otherwise `false`.'
          type: boolean
        type:
          type: string
          enum:
          - change-field-visibility
          - change-group-visibility
      type: object
    ErrorResponseError:
      description: Contains information about an error that occurred.
      required:
      - error_msg
      - error_name
      properties:
        error_msg:
          description: Message describing an error.
          type: string
        error_path:
          description: Path at which an error occurred.
          type: string
        error_name:
          description: Name of the error. See the `x-error-codes` catalog in openapi file for a complete list of possible error codes with detailed information including HTTP status codes, causes, remediation steps, and retry guidance.
          type: string
      type: object
    SubUnclaimedDraftSigner:
      required:
      - name
      - email_address
      properties:
        email_address:
          description: The email address of the signer.
          type: string
          format: email
        name:
          description: The name of the signer.
          type: string
        order:
          description: The order the signer is required to sign in.
          type: integer
          nullable: true
      type: object
    UnclaimedDraftCreateEmbeddedRequest:
      description: ''
      required:
      - client_id
      - requester_email_address
      properties:
        files:
          description: 'Use `files[]` to indicate the uploaded file(s) to send for signature.


            This endpoint requires either **files** or **file_urls[]**, but not both.'
          type: array
          items:
            type: string
            format: binary
        file_urls:
          description: 'Use `file_urls[]` to have Dropbox Sign download the file(s) to send for signature.


            This endpoint requires either **files** or **file_urls[]**, but not both.'
          type: array
          items:
            type: string
        allow_ccs:
          description: This allows the requester to specify whether the user is allowed to provide email addresses to CC when claiming the draft.
          type: boolean
          default: true
        allow_decline:
          description: Allows signers to decline to sign a document if `true`. Defaults to `false`.
          type: boolean
          default: false
        allow_reassign:
          description: 'Allows signers to reassign their signature requests to other signers if set to `true`. Defaults to `false`.


            **NOTE:** Only available for Premium plan and higher.'
          type: boolean
          default: false
        attachments:
          description: A list describing the attachments
          type: array
          items:
            $ref: '#/components/schemas/SubAttachment'
        cc_email_addresses:
          description: The email addresses that should be CCed.
          type: array
          items:
            type: string
            format: email
        client_id:
          description: Client id of the app used to create the draft. Used to apply the branding and callback url defined for the app.
          type: string
        custom_fields:
          description: 'When used together with merge fields, `custom_fields` allows users to add pre-filled data to their signature requests.


            Pre-filled data can be used with "send-once" signature requests by adding merge fields with `form_fields_per_document` or [Text Tags](https://app.hellosign.com/api/textTagsWalkthrough#TextTagIntro) while passing values back with `custom_fields` together in one API call.


            For using pre-filled on repeatable signature requests, merge fields are added to templates in the Dropbox Sign UI or by calling [/template/create_embedded_draft](/api/reference/operation/templateCreateEmbeddedDraft) and then passing `custom_fields` on subsequent signature requests referencing that template.'
          type: array
          items:
            $ref: '#/components/schemas/SubCustomField'
        editor_options:
          $ref: '#/components/schemas/SubEditorOptions'
        field_options:
          $ref: '#/components/schemas/SubFieldOptions'
        force_signer_page:
          description: Provide users the ability to review/edit the signers.
          type: boolean
          default: false
        force_subject_message:
          description: Provide users the ability to review/edit the subject and message.
          type: boolean
          default: false
        form_field_groups:
          description: Group information for fields defined in `form_fields_per_document`. String-indexed JSON array with `group_label` and `requirement` keys. `form_fields_per_document` must contain fields referencing a group defined in `form_field_groups`.
          type: array
          items:
            $ref: '#/components/schemas/SubFormFieldGroup'
        form_field_rules:
          description: Conditional Logic rules for fields defined in `form_fields_per_document`.
          type: array
          items:
            $ref: '#/components/schemas/SubFormFieldRule'
        form_fields_per_document:
          description: 'The fields that should appear on the document, expressed as an array of objects. (For more details you can read about it here: [Using Form Fields per Document](/docs/openapi/form-fields-per-document).)


            **NOTE:** Fields like **text**, **dropdown**, **checkbox**, **radio**, and **hyperlink** have additional required and optional parameters. Check out the list of [additional parameters](/api/reference/constants/#form-fields-per-document) for these field types.


            * Text Field use `SubFormFieldsPerDocumentText`

            * Dropdown Field use `SubFormFieldsPerDocumentDropdown`

            * Hyperlink Field use `SubFormFieldsPerDocumentHyperlink`

            * Checkbox Field use `SubFormFieldsPerDocumentCheckbox`

            * Radio Field use `SubFormFieldsPerDocumentRadio`

            * Signature Field use `SubFormFieldsPerDocumentSignature`

            * Date Signed Field use `SubFormFieldsPerDocumentDateSigned`

            * Initials Field use `SubFormFieldsPerDocumentInitials`

            * Text Merge Field use `SubFormFieldsPerDocumentTextMerge`

            * Checkbox Merge Field use `SubFormFieldsPerDocumentCheckboxMerge`'
          type: array
          items:
            $ref: '#/components/schemas/SubFormFieldsPerDocumentBase'
        hide_text_tags:
          description: Send with a value of `true` if you wish to enable automatic Text Tag removal. Defaults to `false`. When using Text Tags it is preferred that you set this to `false` and hide your tags with white text or something similar because the automatic removal system can cause unwanted clipping. See the [Text Tags](https://app.hellosign.com/api/textTagsWalkthrough#TextTagIntro) walkthrough for more details.
          type: boolean
          default: false
        hold_request:
          description: The request from this draft will not automatically send to signers post-claim if set to `true`. Requester must [release](/api/reference/operation/signatureRequestReleaseHold/) the request from hold when ready to send. Defaults to `false`.
          type: boolean
          default: false
        is_for_embedded_signing:
          description: The request created from this draft will also be signable in embedded mode if set to `true`. Defaults to `false`.
          type: boolean
          default: false
        message:
          description: The custom message in the email that will be sent to the signers.
          type: string
          maxLength: 5000
        metadata:
          description: 'Key-value data that should be attached to the signature request. This metadata is included in all API responses and events involving the signature request. For example, use the metadata field to store a signer''s order number for look up when receiving events for the signature request.


            Each request can include up to 10 metadata keys (or 50 nested metadata keys), with key names up to 40 characters long and values up to 1000 characters long.'
          type: object
          maxItems: 10
          additionalProperties: {}
        requester_email_address:
          description: The email address of the user that should be designated as the requester of this draft, if the draft type is `request_signature`.
          type: string
          format: email
        requesting_redirect_url:
          description: The URL you want signers redirected to after they successfully request a signature.
          type: string
        show_preview:
          description: 'This allows the requester to enable the editor/preview experience.


            - `show_preview=true`: Allows requesters to enable the editor/preview experience.

            - `show_preview=false`: Allows requesters to disable the editor/preview experience.'
          type: boolean
        show_progress_stepper:
          description: When only one step remains in the signature request process and this parameter is set to `false` then the progress stepper will be hidden.
          type: boolean
          default: true
        signers:
          description: Add Signers to your Unclaimed Draft Signature Request.
          type: array
          items:
            $ref: '#/components/schemas/SubUnclaimedDraftSigner'
        signing_options:
          $ref: '#/components/schemas/SubSigningOptions'
        signing_redirect_url:
          description: The URL you want signers redirected to after they successfully sign.
          type: string
        skip_me_now:
          description: Disables the "Me (Now)" option for the person preparing the document. Does not work with type `send_document`. Defaults to `false`.
          type: boolean
          default: false
        subject:
          description: The subject in the email that will be sent to the signers.
          type: string
          maxLength: 200
        test_mode:
          description: Whether this is a test, the signature request created from this draft will not be legally binding if set to `true`. Defaults to `false`.
          type: boolean
          default: false
        type:
          description: The type of the draft. By default this is `request_signature`, but you can set it to `send_document` if you want to self sign a document and download it.
          type: string
          default: request_signature
          enum:
          - send_document
          - request_signature
        use_preexisting_fields:
          description: Set `use_text_tags` to `true` to enable [Text Tags](https://app.hellosign.com/api/textTagsWalkthrough#TextTagIntro) parsing in your document (defaults to disabled, or `false`). Alternatively, if your PDF contains pre-defined fields, enable the detection of these fields by setting the `use_preexisting_fields` to `true` (defaults to disabled, or `false`). Currently we only support use of either `use_text_tags` or `use_preexisting_fields` parameter, not both.
          type: boolean
          default: false
        use_text_tags:
          description: Set `use_text_tags` to `true` to enable [Text Tags](https://app.hellosign.com/api/textTagsWalkthrough#TextTagIntro) parsing in your document (defaults to disabled, or `false`). Alternatively, if your PDF contains pre-defined fields, enable the detection of these fields by setting the `use_preexisting_fields` to `true` (defaults to disabled, or `false`). Currently we only support use of either `use_text_tags` or `use_preexisting_fields` parameter, not both.
          type: boolean
          default: false
        populate_auto_fill_fields:
          description: 'Controls whether [auto fill fields](https://faq.hellosign.com/hc/en-us/articles/360051467511-Auto-Fill-Fields) can automatically populate a signer''s information during signing.


            **NOTE:** Keep your signer''s information safe by ensuring that the _signer on your signature request is the intended party_ before using this feature.'
          type: boolean
          default: false
        expires_at:
          description: 'When the signature request will expire. Unsigned signatures will be moved to the expired status, and no longer signable. See [Signature Request Expiration Date](https://developers.hellosign.com/docs/signature-request/expiration/) for details.


            **NOTE:** This does not correspond to the **expires_at** returned in the response.'
          type: integer
          nullable: true
      type: object
    SubCC:
      required:
      - role
      - email_address
      properties:
        role:
          description: Must match an existing CC role in chosen Template(s). Multiple CC recipients cannot share the same CC role.
          type: string
        email_address:
          description: The email address of the CC recipient.
          type: string
          format: email
      type: object
    UnclaimedDraftResponse:
      description: A group of documents that a user can take ownership of via the claim URL.
      properties:
        signature_request_id:
          description: The ID of the signature request that is represented by this UnclaimedDraft.
          type: string
          nullable: true
        claim_url:
          description: The URL to be used to claim this UnclaimedDraft.
          type: string
        signing_redirect_url:
          description: The URL you want signers redirected to after they successfully sign.
          type: string
          nullable: true
        requesting_redirect_url:
          description: The URL you want signers redirected to after they successfully request a signature (Will only be returned in the response if it is applicable to the request.).
          type: string
          nullable: true
        expires_at:
          description: When the link expires.
          type: integer
          nullable: true
        test_mode:
          description: Whether this is a test draft. Signature requests made from test drafts have no legal value.
          type: boolean
      type: object
      x-internal-class: true
    SubEditorOptions:
      description: This allows the requester to specify editor options when a preparing a document
      properties:
        allow_edit_signers:
          description: Allows requesters to edit the list of signers
          type: boolean
          default: false
        allow_edit_documents:
          description: Allows requesters to edit documents, including delete and add
          type: boolean
          default: false
      type: object
    ErrorResponse:
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponseError'
      type: object
    SubFieldOptions:
      description: This allows the requester to specify field options for a signature request.
      required:
      - date_format
      properties:
        date_format:
          description: 'Allows requester to specify the date format (see list of allowed [formats](/api/reference/constants/#date-formats))


            **NOTE:** Only available for Premium and higher.'
          type: string
          enum:
          - MM / DD / YYYY
          - MM - DD - YYYY
          - DD / MM / YYYY
          - DD - MM - YYYY
          - YYYY / MM / DD
          - YYYY - MM - DD
          x-enum-varnames:
          - MMDDYYYY
          - MM_DD_YYYY
          - DDMMYYYY
          - DD_MM_YYYY
          - YYYYMMDD
          - YYYY_MM_DD
      type: object
    UnclaimedDraftCreateResponse:
      required:
      - unclaimed_draft
      properties:
        unclaimed_draft:
          $ref: '#/components/schemas/UnclaimedDraftResponse'
        warnings:
          description: A list of warnings.
          type: array
          items:
            $ref: '#/components/schemas/WarningResponse'
      type: object
      x-internal-class: true
    UnclaimedDraftCreateEmbeddedWithTemplateRequest:
      required:
      - client_id
      - requester_email_address
      - template_ids
      properties:
        allow_decline:
          description: Allows signers to decline to sign a document if `true`. Defaults to `false`.
          type: boolean
          default: false
        allow_reassign:
          description: 'Allows signers to reassign their signature requests to other signers if set to `true`. Defaults to `false`.


            **NOTE:** Only available for Premium plan and higher.'
          type: boolean
          default: false
        ccs:
          description: Add CC email recipients. Required when a CC role exists for the Template.
          type: array
          items:
            $ref: '#/components/schemas/SubCC'
        client_id:
          description: Client id of the app used to create the draft. Used to apply the branding and callback url defined for the app.
          type: string
        custom_fields:
          description: An array defining values and options for custom fields. Required when a custom field exists in the Template.
          type: array
          items:
            $ref: '#/components/schemas/SubCustomField'
        editor_options:
          $ref: '#/components/schemas/SubEditorOptions'
        field_options:
          $ref: '#/components/schemas/SubFieldOptions'
        files:
          description: 'Use `files[]` to append additional files to the signature request being created from the template. Dropbox Sign will parse the files for [text tags](https://app.hellosign.com/api/textTagsWalkthrough) and append it to the signature request. Text tags for signers not on the template(s) will be ignored.


            **files** or **file_urls[]** is required, but not both.'
          type: array
          items:
            type: string
            format: binary
        file_urls:
          description: 'Use file_urls[] to append additional files to the signature request being created from the template. Dropbox Sign will download the file, then parse it for [text tags](https://app.hellosign.com/api/textTagsWalkthrough), and append to the signature request. Text tags for signers not on the template(s) will be ignored.


            **files** or **file_urls[]** is required, but not both.'
          type: array
          items:
            type: string
        force_signer_roles:
          description: Provide users the ability to review/edit the template signer roles.
          type: boolean
          default: false
        force_subject_message:
          description: Provide users the ability to review/edit the template subject and message.
          type: boolean
          default: false
        hold_request:
          description: The request from this draft will not automatically send to signers post-claim if set to 1. Requester must [release](/api/reference/operation/signatureRequestReleaseHold/) the request from hold when ready to send. Defaults to `false`.
          type: boolean
          default: false
        is_for_embedded_signing:
          description: The request created from this draft will also be signable in embedded mode if set to `true`. Defaults to `false`.
          type: boolean
          default: false
        message:
          description: The custom message in the email that will be sent to the signers.
          type: string
          maxLength: 5000
        metadata:
          description: 'Key-value data that should be attached to the signature request. This metadata is included in all API responses and events involving the signature request. For example, use the metadata field to store a signer''s order number for look up when receiving events for the signature request.


            Each request can include up to 10 metadata keys (or 50 nested metadata keys), with key names up to 40 characters long and values up to 1000 characters long.'
          type: object
          maxItems: 10
          additionalProperties: {}
        preview_only:
          description: 'This allows the requester to enable the preview experience (i.e. does not allow the requester''s end user to add any additional fields via the editor).


            - `preview_only=true`: Allows requesters to enable the preview only experience.

            - `preview_only=false`: Allows requesters to disable the preview only experience.


            **NOTE:** This parameter overwrites `show_preview=1` (if set).'
          type: boolean
          default: false
        requester_email_address:
          description: The email address of the user that should be designated as the requester of this draft.
          type: string
          format: email
        requesting_redirect_url:
          description: The URL you want signers redirected to after they successfully request a signature.
          type: string
        show_preview:
          description: 'This allows the requester to enable the editor/preview experience.


            - `show_preview=true`: Allows requesters to enable the editor/preview experience.

            - `show_preview=false`: Allows requesters to disable the editor/preview experience.'
          type: boolean
          default: false
        show_progress_stepper:
          description: When only one step remains in the signature request process and this parameter is set to `false` then the progress stepper will be hidden.
          type: boolean
          default: true
        signers:
          description: Add Signers to your Templated-based Signature Request.
          type: array
          items:
            $ref: '#/components/schemas/SubUnclaimedDraftTemplateSigner'
        signing_options:
          $ref: '#/components/schemas/SubSigningOptions'
        signing_redirect_url:
          description: The URL you want signers redirected to after they successfully sign.
          type: string
        skip_me_now:
          description: Disables the "Me (Now)" option for the person preparing the document. Does not work with type `send_document`. Defaults to `false`.
          type: boolean
          default: false
        subject:
          description: The subject in the email that will be sent to the signers.
          type: string
          maxLength: 255
        template_ids:
          description: Use `template_ids` to create a SignatureRequest from one or more templates, in the order in which the templates will be used.
          type: array
          items:
            type: string
        test_mode:
          description: Whether this is a test, the signature request created from this draft will not be legally binding if set to `true`. Defaults to `false`.
          type: boolean
          default: false
        title:
          description: The title you want to assign to the SignatureRequest.
          type: string
          maxLength: 255
        populate_auto_fill_fields:
          description: 'Controls whether [auto fill fields](https://faq.hellosign.com/hc/en-us/articles/360051467511-Auto-Fill-Fields) can automatically populate a signer''s information during signing.


            **NOTE:** Keep your signer''s information safe by ensuring that the _signer on your signature request is the intended party_ before using this feature.'
          type: boolean
          default: false
        allow_ccs:
          description: This allows the requester to specify whether the user is allowed to provide email addresses to CC when claiming the draft.
          type: boolean
          default: false
      type: object
    WarningResponse:
      description: A list of warnings.
      required:
      - warning_msg
      - warning_name
      properties:
        warning_msg:
          description: Warning message
          type: string
        warning_name:
          description: Warning name
          type: string
      type: object
    SubAttachment:
      required:
      - name
      - signer_index
      properties:
        instructions:
          description: The instructions for uploading the attachment.
          type: string
        name:
          description: The name of attachment.
          type: string
        required:
          description: Determines if the attachment must be uploaded.
          type: boolean
          default: false
        signer_index:
          description: 'The signer''s index in the `signers` parameter (0-based indexing).


            **NOTE:** Only one signer can be assigned per attachment.'
          type: integer
      type: object
    SubSigningOptions:
      description: 'This allows the requester to specify the types allowed for creating a signature and specify another signing options.


        **NOTE:** If `signing_options` are not defined in the request, the allowed types will default to those specified in the account settings.


        **NOTE:** If `force_advanced_signature_details` is set, allowed types has to be defined too.'
      required:
      - default_type
      properties:
        default_type:
          description: The default type shown (limited to the listed types)
          type: string
          enum:
          - draw
          - phone
          - type
          - upload
        draw:
          description: Allows drawing the signature
          type: boolean
          default: false
        phone:
          description: Allows using a smartphone to email the signature
          type: boolean
          default: false
        type:
          description: Allows typing the signature
          type: boolean
          default: false
        upload:
          description: Allows uploading the signature
          type: boolean
          default: false
        force_advanced_signature_details:
          description: Turning on advanced signature details for the signature request
          type: boolean
          default: false
      type: object
    SubFormFieldRule:
      required:
      - id
      - trigger_operator
      - triggers
      - actions
      properties:
        id:
          description: Must be unique across all defined rules.
          type: string
        trigger_operator:
          description: Currently only `AND` is supported. Support for `OR` is being worked on.
          type: string
          default: AND
        triggers:
          description: An array of trigger definitions, the "if this" part of "**if this**, then that". Currently only a single trigger per rule is allowed.
          type: array
          items:
            $ref: '#/components/schemas/SubFormFieldRuleTrigger'
          maxItems: 1
          minItems: 1
        actions:
          description: An array of action definitions, the "then that" part of "if this, **then that**". Any number of actions may be attached to a single rule.
          type: array
          items:
            $ref: '#/components/schemas/SubFormFieldRuleAction'
          minItems: 1
      type: object
  headers:
    X-Ratelimit-Reset:
      description: The Unix time at which the rate limit will reset to its maximum.
      schema:
        type: integer
        format: int64
        example: 1430170900
    X-RateLimit-Remaining:
      description: The number of requests remaining in the current rate limit window.
      schema:
        type: integer
        format: int32
        example: 99
    X-RateLimit-Limit:
      description: The maximum number of requests per hour that you can make.
      schema:
        type: integer
        format: int32
        example: 100
  securitySchemes:
    api_key:
      type: http
      description: 'Your API key can be used to make calls to the Dropbox Sign API. See [Authentication](/api/reference/authentication) for more information.

        ✅ Supported by Try it console (calls sent in `test_mode` only).'
      scheme: basic
    oauth2:
      type: http
      description: 'You can use an Access Token issued through an OAuth flow to send calls to the Dropbox Sign API from your app. The access scopes required by this endpoint are listed in the gray box above. See [Authentication](/api/reference/authentication) for more information.

        ❌ **Not supported** by Try it console.'
      bearerFormat: JWT
      scheme: bearer
externalDocs:
  description: Legacy API Reference
  url: https://app.hellosign.com/api/reference
x-webhooks:
  accountCallback:
    post:
      summary: Account Callbacks
      operationId: accountUpdateEventCallback
      description:
        $ref: ./markdown/en/descriptions/account-callback-description.md
      tags:
      - Callbacks and Events
      x-meta:
        seo:
          title: Account Callbacks | API Documentation | Dropbox Sign for Developers
          description: The Dropbox Sign API allows you to build with a wide range of tools. To find out how to consume Dropbox Sign Events at the account level, click here.
      x-fern-audiences:
      - events
      requestBody:
        description: "**Account Callback Payloads --**\n      Events that are reported at the Account level through the the *Account callback URL* defined in your [API settings](https://app.hellosign.com/home/myAccount#api). The *Account callback URL* can also be updated by calling [Update Account](/api/reference/operation/accountUpdate) and passing a `callback_url`."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventCallbackPayload'
            examples:
              signature_request_viewed_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestViewed'
              signature_request_signed_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestSigned'
              signature_request_signer_removed_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestSignerRemoved'
              signature_request_downloadable_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestDownloadable'
              signature_request_sent_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestSent'
              signature_request_all_signed_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestAllSigned'
              signature_request_invalid_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestInvalid'
              signature_request_email_bounce_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestEmailBounce'
              signature_request_remind_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestRemind'
              signature_request_incomplete_qes_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestIncompleteQes'
              signature_request_destroyed_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestDestroyed'
              signature_request_canceled_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestCanceled'
              signature_request_declined_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestDeclined'
              signature_request_expired_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestExpired'
              signature_request_reassigned_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestReassigned'
              signature_request_prepared_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestPrepared'
              account_confirmed_example:
                $ref: '#/components/examples/EventCallbackAccountConfirmed'
              unknown_error_example:
                $ref: '#/components/examples/EventCallbackUnknownError'
              file_error_example:
                $ref: '#/components/examples/EventCallbackFileError'
              template_created_example:
                $ref: '#/components/examples/EventCallbackTemplateCreated'
              template_error_example:
                $ref: '#/components/examples/EventCallbackTemplateError'
              sign_url_invalid_example:
                $ref: '#/components/examples/EventCallbackSignUrlInvalid'
              callback_test_example:
                $ref: '#/components/examples/EventCallbackCallbackTest'
      responses:
        200:
          $ref: '#/components/responses/EventCallbackResponse'
  appCallback:
    post:
      summary: App Callbacks
      operationId: apiAppCreateEventCallback
      description:
        $ref: ./markdown/en/descriptions/api-app-callback-description.md
      tags:
      - Callbacks and Events
      x-meta:
        seo:
          title: App Callbacks | API Documentation | Dropbox Sign for Developers
          description: The Dropbox Sign API allows you to build with a wide range of tools. To find out how to consume Dropbox Sign Events at the App level, click here.
      x-fern-audiences:
      - events
      requestBody:
        description: '**API App Callback Payloads --**

          Events that are reported at the API App level through the *Event callback URL* defined in your [API settings](https://app.hellosign.com/home/myAccount#api) for a specific app. The *Event callback URL* can also be updated by calling [Update API App](/api/reference/operation/apiAppUpdate) and passing a `callback_url`.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventCallbackPayload'
            examples:
              signature_request_viewed_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestViewed'
              signature_request_signed_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestSigned'
              signature_request_signer_removed_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestSignerRemoved'
              signature_request_downloadable_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestDownloadable'
              signature_request_sent_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestSent'
              signature_request_all_signed_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestAllSigned'
              signature_request_invalid_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestInvalid'
              signature_request_email_bounce_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestEmailBounce'
              signature_request_remind_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestRemind'
              signature_request_incomplete_qes_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestIncompleteQes'
              signature_request_destroyed_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestDestroyed'
              signature_request_canceled_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestCanceled'
              signature_request_declined_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestDeclined'
              signature_request_expired_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestExpired'
              signature_request_reassigned_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestReassigned'
              signature_request_prepared_example:
                $ref: '#/components/examples/EventCallbackSignatureRequestPrepared'
              account_confirmed_example:
                $ref: '#/components/examples/EventCallbackAccountConfirmed'
              unknown_error_example:
                $ref: '#/components/examples/EventCallbackUnknownError'
              file_error_example:
                $ref: '#/components/examples/EventCallbackFileError'
              template_created_example:
                $ref: '#/components/examples/EventCallbackTemplateCreated'
              template_error_example:
                $ref: '#/components/examples/EventCallbackTemplateError'
              sign_url_invalid_example:
                $ref: '#/components/examples/EventCallbackSignUrlInvalid'
              callback_test_example:
                $ref: '#/components/examples/EventCallbackCallbackTest'
      responses:
        200:
          $ref: '#/components/responses/EventCallbackResponse'
x-error-codes:
  bad_request:
    http_status: 400
    summary: The request contained invalid or malformed parameters.
    cause: A parameter failed validation, or the request body was malformed.
    remediation: Inspect error_msg and error_path, correct the offending parameter, and resend.
    retryable: 'no'
  unauthorized:
    http_status: 401
    summary: The credentials supplied are missing or invalid.
    cause: Missing, malformed, or invalid API key or OAuth access token.
    remediation: Verify the API key or OAuth token and the Authorization header, then retry.
    retryable: 'no'
  payment_required:
    http_status: 402
    summary: The account must be credited or upgraded to perform this action.
    cause: The action requires a paid plan, additional quota, or API credits.
    remediation: Upgrade the plan or add the required credits/quota, then retry.
    retryable: 'no'
  forbidden:
    http_status: 403
    summary: The action is not allowed for these credentials or in the current context.
    cause: The authenticated account lacks access to the resource or operation.
    remediation: Confirm the account has access to the resource and the required permissions.
    retryable: 'no'
  not_found:
    http_status: 404
    summary: Nothing matches the requested resource.
    cause: The resource id does not exist or is not visible to this account.
    remediation: Verify the id and that the resource belongs to the authenticated account.
    retryable: 'no'
  conflict:
    http_status: 409
    summary: The request was well-formed but conflicts with the current state.
    cause: The target resource is in a state incompatible with the request (e.g. a signature request is still being set up).
    remediation: Wait briefly and retry, or listen for a callback event confirming the resource is ready.
    retryable: conditional
  exceeded_rate:
    http_status: 429
    summary: Your account's API request rate limit has been exceeded.
    cause: Too many requests were sent within the rate-limit window for this request type.
    remediation: Pace requests using the X-RateLimit-* response headers and retry after the window resets.
    retryable: 'yes'
    backoff: Honor X-Ratelimit-Reset (Unix epoch); otherwise exponential backoff with jitter. No Retry-After header is sent.
  unknown:
    http_status: 500
    summary: An unexpected error occurred.
    cause: An unhandled server-side error, or a status code without a more specific error_name.
    remediation: Retry transient failures; if it persists, contact support with the request details.
    retryable: conditional
    backoff: For transient 5xx, retry with exponential backoff; otherwise do not retry.
  team_invite_failed:
    http_status: 403
    summary: The team invitation could not be completed.
    cause: The invitee already belongs to a team, or the invite is otherwise not permitted.
    remediation: Confirm the invitee is not already on a team before inviting.
    retryable: 'no'
  max_faxes:
    http_status: 429
    summary: Too many fax transmissions are currently pending or transmitting.
    cause: The account has reached the limit of concurrent in-flight fax transmissions.
    remediation: Wait for outstanding transmissions to complete, then retry.
    retryable: 'yes'
    backoff: Retry with exponential backoff once pending transmissions clear.
  invalid_recipient:
    http_status: 400
    summary: The recipient (fax number or email address) is invalid.
    cause: A recipient value did not pass validation.
    remediation: Correct the recipient value and resend.
    retryable: 'no'
  signature_request_cancel_failed:
    http_status: 400
    summary: The signature request could not be cancelled.
    cause: The caller is not the requester, or the request is already fully executed/closed.
    remediation: Only the requester can cancel, and only before the request is fully executed.
    retryable: 'no'
  signature_request_remove_failed:
    http_status: 400
    summary: Access to the signature request could not be removed.
    cause: The signature request has not yet been fully executed, so access cannot be revoked.
    remediation: Wait until all parties have signed, or call /signature_request/cancel to cancel incomplete requests instead.
    retryable: 'no'
  maintenance:
    http_status: 503
    summary: The request could not be completed because the site is under maintenance.
    cause: The API is in a scheduled maintenance window.
    remediation: Retry once the maintenance window ends.
    retryable: 'yes'
    backoff: Retry later with exponential backoff.
  method_not_supported:
    http_status: 405
    summary: The HTTP method is not supported for this endpoint.
    cause: The request used a verb the endpoint does not accept.
    remediation: Use the HTTP method documented for the endpoint.
    retryable: 'no'
  invalid_reminder:
    http_status: 400
    summary: The signature request reminder was invalid.
    cause: A reminder was attempted against an ineligible request (e.g. embedded, closed, or expired).
    remediation: Only send reminders for eligible (non-embedded, open) signature requests.
    retryable: 'no'
  unavailable:
    http_status: 503
    summary: The service is temporarily unavailable.
    cause: A downstream dependency or the service itself is temporarily unavailable.
    remediation: Retry later with exponential backoff.
    retryable: 'yes'
    backoff: Retry later with exponential backoff and jitter.
  unprocessable_entity:
    http_status: 422
    summary: The request was understood but the target entity cannot be processed.
    cause: The resource is still being processed, or it is in an error state.
    remediation: If the resource is still processing, wait and retry; if it is in an error state, recreate/resend it instead of retrying.
    retryable: conditional
    backoff: If still processing, retry with exponential backoff; if in an error state, do not retry.
  signature_request_expired:
    http_status:
    - 400
    - 403
    summary: The signature request has expired.
    cause: The operation targets a request whose expiration has passed. Most endpoints return 400; final-copy/download endpoints return 403.
    remediation: The request can no longer be acted upon; create a new signature request.
    retryable: 'no'
  deleted:
    http_status: 410
    summary: The request was cancelled or deleted.
    cause: The resource has been cancelled or removed and is no longer available.
    remediation: Do not retry; the resource is permanently gone.
    retryable: 'no'
x-oauth-error-codes:
  invalid_grant:
    http_status:
    - 400
    - 401
    summary: The OAuth grant (authorization code or refresh token) is invalid or expired.
    cause: The code/token was already used, expired, or does not match the client.
    remediation: Re-initiate the OAuth flow to obtain a fresh authorization code.
    retryable: 'no'
  invalid_client:
    http_status: 400
    summary: The OAuth client credentials are invalid.
    cause: The client_id or client_secret is unrecognized or incorrect.
    remediation: Verify the client_id and client_secret from the API app settings.
    retryable: 'no'
  invalid_request:
    http_status: 400
    summary: The OAuth request is malformed or missing required parameters.
    cause: A required parameter is missing, or the request format is invalid.
    remediation: Check the request against the OAuth token endpoint documentation.
    retryable: 'no'
  unauthorized_client:
    http_status:
    - 401
    - 403
    summary: The OAuth client is not authorized to perform this action.
    cause: The app has not been approved, or the action is outside the granted scopes.
    remediation: Ensure the app is approved and the required scopes are granted.
    retryable: 'no'
  unsupported_grant_type:
    http_status: 400
    summary: The grant type is not supported.
    cause: The grant_type parameter value is not recognized.
    remediation: Use authorization_code or refresh_token as the grant_type.
    retryable: 'no'
  payment_required:
    http_status: 402
    summary: The account requires a paid plan to use this OAuth app.
    cause: The authorizing account does not have a plan that supports this integration.
    remediation: Upgrade the account to a plan that includes OAuth app access.
    retryable: 'no'
  addon_required:
    http_status: 402
    summary: An add-on is required to use this OAuth app.
    cause: The account plan does not include the add-on needed for this integration.
    remediation: Add the required add-on to the account subscription.
    retryable: 'no'
  invalid_scope:
    http_status: 400
    summary: The requested OAuth scope is invalid.
    cause: The scope parameter contains values not permitted for the app.
    remediation: Request only scopes that the app is configured to use.
    retryable: 'no'
  quota_reached:
    http_status: 402
    summary: The account has reached its usage quota for this OAuth app.
    cause: The authorizing account has exhausted its quota for the integration.
    remediation: Contact the app owner or upgrade the account quota.
    retryable: 'no'
  server_error:
    http_status: 500
    summary: An internal server error occurred during OAuth processing.
    cause: An unexpected error on the server side while handling the OAuth request.
    remediation: Retry the request; if it persists, contact support.
    retryable: 'yes'
    backoff: Retry with exponential backoff.
  temporary_unavailable:
    http_status: 503
    summary: The OAuth service is temporarily unavailable.
    cause: The service is under maintenance or experiencing temporary issues.
    remediation: Retry after a short delay.
    retryable: 'yes'
    backoff: Retry with exponential backoff.
x-error-events:
  signature_request_invalid:
    event_type: signature_request_invalid
    delivery: webhook
    summary: Asynchronous error while processing a signature request.
    cause: A signature request could not be processed (e.g. invalid tags, fields, or merge data).
    remediation: Inspect event.event_metadata.event_message in the callback, correct the request, and resend.
    retryable: conditional
  unknown_error:
    event_type: unknown_error
    delivery: webhook
    summary: An unspecified asynchronous processing error occurred.
    cause: An unexpected error occurred while processing the request asynchronously.
    remediation: Check the request status in the API dashboard; retry or contact support if it persists.
    retryable: conditional
  file_error:
    event_type: file_error
    delivery: webhook
    summary: Asynchronous error while processing an uploaded file.
    cause: A file attached to a request could not be processed.
    remediation: Resend the request with a supported, non-corrupt file.
    retryable: conditional
  template_error:
    event_type: template_error
    delivery: webhook
    summary: Asynchronous error while creating a template.
    cause: Template file processing failed (e.g. unsupported or corrupt file).
    remediation: Recreate the template with a valid file; check status in the API dashboard.
    retryable: conditional
  sign_url_invalid:
    event_type: sign_url_invalid
    delivery: webhook
    summary: An embedded signing URL has expired or become invalid.
    cause: The embedded sign_url is no longer valid (e.g. expired).
    remediation: Generate a fresh embedded sign_url via the embedded sign URL endpoint.
    retryable: 'yes'
