openapi: 3.0.3
info:
  title: Dropbox Sign Account Signature Request API
  description: Dropbox Sign v3 API
  termsOfService: https://www.hellosign.com/terms
  contact:
    email: apisupport@hellosign.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 3.0.0
servers:
- url: https://api.hellosign.com/v3
security:
- api_key: []
- oauth2:
  - account_access
  - signature_request_access
  - template_access
  - team_access
  - api_app_access
  - basic_account_info
  - request_signature
tags:
- name: Signature Request
  description:
    $ref: ./markdown/en/tags/signature-request-tag-description.md
paths:
  /signature_request/bulk_create_embedded_with_template:
    post:
      tags:
      - Signature Request
      summary: Embedded Bulk Send with Template
      description: 'Creates BulkSendJob which sends up to 250 SignatureRequests in bulk based off of the provided Template(s) specified with the `template_ids` parameter to be signed in an embedded iFrame. These embedded signature requests can only be signed in embedded iFrames whereas normal signature requests can only be signed on Dropbox Sign.


        **NOTE:** Only available for Standard plan and higher.'
      operationId: signatureRequestBulkCreateEmbeddedWithTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestBulkCreateEmbeddedWithTemplateRequest'
            examples:
              example:
                $ref: '#/components/examples/SignatureRequestBulkCreateEmbeddedWithTemplateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestBulkCreateEmbeddedWithTemplateRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSendJobSendResponse'
              examples:
                example:
                  $ref: '#/components/examples/SignatureRequestBulkCreateEmbeddedWithTemplateResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                409_example:
                  $ref: '#/components/examples/Error409Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplateExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplateExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplateExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplateExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplateExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplateExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestBulkCreateEmbeddedWithTemplateExample.sh
      x-meta:
        seo:
          title: Embedded Bulk Send with Template | Dropbox Sign for Developers
          description: The RESTful Dropbox Sign API allows you to build custom integrations. To find out how to create embedded BulkSendJob signature requests, click here.
  /signature_request/bulk_send_with_template:
    post:
      tags:
      - Signature Request
      summary: Bulk Send with Template
      description: 'Creates BulkSendJob which sends up to 250 SignatureRequests in bulk based off of the provided Template(s) specified with the `template_ids` parameter.


        **NOTE:** Only available for Standard plan and higher.'
      operationId: signatureRequestBulkSendWithTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestBulkSendWithTemplateRequest'
            examples:
              example:
                $ref: '#/components/examples/SignatureRequestBulkSendWithTemplateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestBulkSendWithTemplateRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSendJobSendResponse'
              examples:
                example:
                  $ref: '#/components/examples/SignatureRequestBulkSendWithTemplateResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestBulkSendWithTemplateExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestBulkSendWithTemplateExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestBulkSendWithTemplateExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestBulkSendWithTemplateExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestBulkSendWithTemplateExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestBulkSendWithTemplateExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestBulkSendWithTemplateExample.sh
      x-meta:
        seo:
          title: Bulk Send with Template | REST API | Dropbox Sign for Developers
          description: The RESTful Dropbox Sign API allows you to build custom integrations. To find out how to create BulkSendJob for up to 250 signature requests, click here.
  /signature_request/cancel/{signature_request_id}:
    post:
      tags:
      - Signature Request
      summary: Cancel Incomplete Signature Request
      description: 'Cancels an incomplete signature request. This action is **not reversible**.


        The request will be canceled and signers will no longer be able to sign. If they try to access the signature request they will receive a HTTP 410 status code indicating that the resource has been deleted. Cancelation is asynchronous and a successful call to this endpoint will return an empty 200 OK response if the signature request is eligible to be canceled and has been successfully queued.


        This 200 OK response does not indicate a successful cancelation of the signature request itself. The cancelation is confirmed via the `signature_request_canceled` event. It is recommended that a [callback handler](/api/reference/tag/Callbacks-and-Events) be implemented to listen for the `signature_request_canceled` event. This callback will be sent only when the cancelation has completed successfully. If a callback handler has been configured and the event has not been received within 60 minutes of making the call, check the status of the request in the [API Dashboard](https://app.hellosign.com/apidashboard) and retry the cancelation if necessary.


        To be eligible for cancelation, a signature request must have been sent successfully, must not yet have been signed by all signers, and you must either be the sender or own the API app under which it was sent. A partially signed signature request can be canceled.


        **NOTE:** To remove your access to a completed signature request, use the endpoint: `POST /signature_request/remove/[:signature_request_id]`.'
      operationId: signatureRequestCancel
      parameters:
      - name: signature_request_id
        in: path
        description: The id of the incomplete SignatureRequest to cancel.
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json: {}
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                409_example:
                  $ref: '#/components/examples/Error409Response'
                410_example:
                  $ref: '#/components/examples/Error410Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestCancelExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestCancelExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestCancelExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestCancelExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestCancelExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestCancelExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestCancelExample.sh
      x-meta:
        seo:
          title: Cancel Incomplete Signature Request | Dropbox Sign for Developers
          description: The RESTful Dropbox Sign API easily allows you to build custom eSign integrations. To find out how to cancel an incomplete signature request, click here.
  /signature_request/create_embedded:
    post:
      tags:
      - Signature Request
      summary: Create Embedded Signature Request
      description: Creates a new SignatureRequest with the submitted documents to be signed in an embedded iFrame. If form_fields_per_document is not specified, a signature page will be affixed where all signers will be required to add their signature, signifying their agreement to all contained documents. Note that embedded signature requests can only be signed in embedded iFrames whereas normal signature requests can only be signed on Dropbox Sign.
      operationId: signatureRequestCreateEmbedded
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestCreateEmbeddedRequest'
            examples:
              example:
                $ref: '#/components/examples/SignatureRequestCreateEmbeddedRequest'
              grouped_signers_example:
                $ref: '#/components/examples/SignatureRequestCreateEmbeddedRequestGroupedSigners'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestCreateEmbeddedRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/SignatureRequestCreateEmbeddedResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                409_example:
                  $ref: '#/components/examples/Error409Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      - oauth2:
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestCreateEmbeddedExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestCreateEmbeddedExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestCreateEmbeddedExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestCreateEmbeddedExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestCreateEmbeddedExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestCreateEmbeddedExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestCreateEmbeddedExample.sh
      x-meta:
        seo:
          title: Create Embedded Signature Request | Dropbox Sign for Developers
          description: The RESTful Dropbox Sign API easily allows you to build custom integrations. To find out how to create a new SignatureRequest in an iFrame, click here.
  /signature_request/create_embedded_with_template:
    post:
      tags:
      - Signature Request
      summary: Create Embedded Signature Request with Template
      description: Creates a new SignatureRequest based on the given Template(s) to be signed in an embedded iFrame. Note that embedded signature requests can only be signed in embedded iFrames whereas normal signature requests can only be signed on Dropbox Sign.
      operationId: signatureRequestCreateEmbeddedWithTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestCreateEmbeddedWithTemplateRequest'
            examples:
              example:
                $ref: '#/components/examples/SignatureRequestCreateEmbeddedWithTemplateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestCreateEmbeddedWithTemplateRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/SignatureRequestCreateEmbeddedWithTemplateResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                409_example:
                  $ref: '#/components/examples/Error409Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      - oauth2:
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestCreateEmbeddedWithTemplateExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestCreateEmbeddedWithTemplateExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestCreateEmbeddedWithTemplateExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestCreateEmbeddedWithTemplateExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestCreateEmbeddedWithTemplateExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestCreateEmbeddedWithTemplateExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestCreateEmbeddedWithTemplateExample.sh
      x-meta:
        seo:
          title: Signature Request with Template | Dropbox Sign for Developers
          description: The Dropbox Sign API allows you to build custom integrations. To find out how to create a new SignatureRequest based on the given Template, click here.
  /signature_request/edit/{signature_request_id}:
    put:
      tags:
      - Signature Request
      summary: Edit Signature Request
      description: 'Edits and sends a SignatureRequest with the submitted documents. If `form_fields_per_document` is not specified, a signature page will be affixed where all signers will be required to add their signature, signifying their agreement to all contained documents.


        **NOTE:** Edit and resend *will* deduct your signature request quota.'
      operationId: signatureRequestEdit
      parameters:
      - name: signature_request_id
        in: path
        description: The id of the SignatureRequest to edit.
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestEditRequest'
            examples:
              example:
                $ref: '#/components/examples/SignatureRequestEditRequest'
              grouped_signers_example:
                $ref: '#/components/examples/SignatureRequestEditRequestGroupedSigners'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestEditRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/SignatureRequestSendResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                409_example:
                  $ref: '#/components/examples/Error409Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestEditExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestEditExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestEditExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestEditExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestEditExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestEditExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestEditExample.sh
      x-meta:
        seo:
          title: Edit Signature Request | REST API | Dropbox Sign for Developers
          description: Dropbox Sign API allows you to build custom integrations. To find out how to edit a SignatureRequest with the submitted documents, click here.
  /signature_request/edit_embedded/{signature_request_id}:
    put:
      tags:
      - Signature Request
      summary: Edit Embedded Signature Request
      description: 'Edits a SignatureRequest with the submitted documents to be signed in an embedded iFrame. If form_fields_per_document is not specified, a signature page will be affixed where all signers will be required to add their signature, signifying their agreement to all contained documents. Note that embedded signature requests can only be signed in embedded iFrames whereas normal signature requests can only be signed on Dropbox Sign.


        **NOTE:** Edit and resend *will* deduct your signature request quota.'
      operationId: signatureRequestEditEmbedded
      parameters:
      - name: signature_request_id
        in: path
        description: The id of the SignatureRequest to edit.
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestEditEmbeddedRequest'
            examples:
              example:
                $ref: '#/components/examples/SignatureRequestEditEmbeddedRequest'
              grouped_signers_example:
                $ref: '#/components/examples/SignatureRequestEditEmbeddedRequestGroupedSigners'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestEditEmbeddedRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/SignatureRequestCreateEmbeddedResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                409_example:
                  $ref: '#/components/examples/Error409Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      - oauth2:
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestEditEmbeddedExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestEditEmbeddedExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestEditEmbeddedExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestEditEmbeddedExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestEditEmbeddedExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestEditEmbeddedExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestEditEmbeddedExample.sh
      x-meta:
        seo:
          title: Edit Embedded Signature Request | Dropbox Sign for Developers
          description: The RESTful Dropbox Sign API easily allows you to build custom integrations. To find out how to edit a SignatureRequest in an iFrame, click here.
  /signature_request/edit_embedded_with_template/{signature_request_id}:
    put:
      tags:
      - Signature Request
      summary: Edit Embedded Signature Request with Template
      description: 'Edits a SignatureRequest based on the given Template(s) to be signed in an embedded iFrame. Note that embedded signature requests can only be signed in embedded iFrames whereas normal signature requests can only be signed on Dropbox Sign.


        **NOTE:** Edit and resend *will* deduct your signature request quota.'
      operationId: signatureRequestEditEmbeddedWithTemplate
      parameters:
      - name: signature_request_id
        in: path
        description: The id of the SignatureRequest to edit.
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestEditEmbeddedWithTemplateRequest'
            examples:
              example:
                $ref: '#/components/examples/SignatureRequestEditEmbeddedWithTemplateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestEditEmbeddedWithTemplateRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/SignatureRequestCreateEmbeddedWithTemplateResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                409_example:
                  $ref: '#/components/examples/Error409Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      - oauth2:
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestEditEmbeddedWithTemplateExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestEditEmbeddedWithTemplateExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestEditEmbeddedWithTemplateExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestEditEmbeddedWithTemplateExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestEditEmbeddedWithTemplateExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestEditEmbeddedWithTemplateExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestEditEmbeddedWithTemplateExample.sh
      x-meta:
        seo:
          title: Signature Request with Template | Dropbox Sign for Developers
          description: The Dropbox Sign API allows you to build custom integrations. To find out how to edit a SignatureRequest based on the given Template, click here.
  /signature_request/edit_with_template/{signature_request_id}:
    put:
      tags:
      - Signature Request
      summary: Edit Signature Request With Template
      description: 'Edits and sends a SignatureRequest based off of the Template(s) specified with the template_ids parameter.


        **NOTE:** Edit and resend *will* deduct your signature request quota.'
      operationId: signatureRequestEditWithTemplate
      parameters:
      - name: signature_request_id
        in: path
        description: The id of the SignatureRequest to edit.
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestEditWithTemplateRequest'
            examples:
              example:
                $ref: '#/components/examples/SignatureRequestEditWithTemplateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestEditWithTemplateRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/SignatureRequestSendWithTemplateResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                409_example:
                  $ref: '#/components/examples/Error409Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestEditWithTemplateExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestEditWithTemplateExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestEditWithTemplateExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestEditWithTemplateExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestEditWithTemplateExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestEditWithTemplateExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestEditWithTemplateExample.sh
      x-meta:
        seo:
          title: Edit Signature Request with Template | API Documentation | Dropbox Sign for Developers
          description: Dropbox Sign API allows you to build custom integrations. To find out how to edit a SignatureRequest based off of the Template, click here.
  /signature_request/files/{signature_request_id}:
    get:
      tags:
      - Signature Request
      summary: Download Files
      description: 'Obtain a copy of the current documents specified by the `signature_request_id` parameter. Returns a PDF or ZIP file.


        If the files are currently being prepared, a status code of `409` will be returned instead.'
      operationId: signatureRequestFiles
      parameters:
      - name: signature_request_id
        in: path
        description: The id of the SignatureRequest to retrieve.
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      - name: file_type
        in: query
        description: Set to `pdf` for a single merged document or `zip` for a collection of individual documents.
        schema:
          type: string
          default: pdf
          enum:
          - pdf
          - zip
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            application/zip:
              schema:
                type: string
                format: binary
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                409_example:
                  $ref: '#/components/examples/Error409Response'
                410_example:
                  $ref: '#/components/examples/Error410Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestFilesExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestFilesExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestFilesExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestFilesExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestFilesExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestFilesExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestFilesExample.sh
      x-meta:
        seo:
          title: Download Files | API Documentation | Dropbox Sign for Developers
          description: The RESTful Dropbox Sign API allows you to build custom integrations. To find out how to get the current documents specified by the parameters, click here
  /signature_request/files_as_data_uri/{signature_request_id}:
    get:
      tags:
      - Signature Request
      summary: Download Files as Data Uri
      description: 'Obtain a copy of the current documents specified by the `signature_request_id` parameter. Returns a JSON object with a `data_uri` representing the base64 encoded file (PDFs only).


        If the files are currently being prepared, a status code of `409` will be returned instead.'
      operationId: signatureRequestFilesAsDataUri
      parameters:
      - name: signature_request_id
        in: path
        description: The id of the SignatureRequest to retrieve.
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponseDataUri'
              examples:
                example:
                  $ref: '#/components/examples/SignatureRequestFilesResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                409_example:
                  $ref: '#/components/examples/Error409Response'
                410_example:
                  $ref: '#/components/examples/Error410Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestFilesAsDataUriExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestFilesAsDataUriExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestFilesAsDataUriExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestFilesAsDataUriExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestFilesAsDataUriExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestFilesAsDataUriExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestFilesAsDataUriExample.sh
      x-meta:
        seo:
          title: Download Files | API Documentation | Dropbox Sign for Developers
          description: The RESTful Dropbox Sign API allows you to build custom integrations. To find out how to get the current documents specified by the parameters, click here
  /signature_request/files_as_file_url/{signature_request_id}:
    get:
      tags:
      - Signature Request
      summary: Download Files as File Url
      description: 'Obtain a copy of the current documents specified by the `signature_request_id` parameter. Returns a JSON object with a url to the file (PDFs only).


        If the files are currently being prepared, a status code of `409` will be returned instead.'
      operationId: signatureRequestFilesAsFileUrl
      parameters:
      - name: signature_request_id
        in: path
        description: The id of the SignatureRequest to retrieve.
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      - name: force_download
        in: query
        description: By default when opening the `file_url` a browser will download the PDF and save it locally. When set to `0` the PDF file will be displayed in the browser.
        schema:
          type: integer
          default: 1
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
              examples:
                example:
                  $ref: '#/components/examples/SignatureRequestFilesResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                409_example:
                  $ref: '#/components/examples/Error409Response'
                410_example:
                  $ref: '#/components/examples/Error410Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestFilesAsFileUrlExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestFilesAsFileUrlExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestFilesAsFileUrlExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestFilesAsFileUrlExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestFilesAsFileUrlExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestFilesAsFileUrlExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestFilesAsFileUrlExample.sh
      x-meta:
        seo:
          title: Download Files | API Documentation | Dropbox Sign for Developers
          description: The RESTful Dropbox Sign API allows you to build custom integrations. To find out how to get the current documents specified by the parameters, click here
  /signature_request/{signature_request_id}:
    get:
      tags:
      - Signature Request
      summary: Get Signature Request
      description: Returns the status of the SignatureRequest specified by the `signature_request_id` parameter.
      operationId: signatureRequestGet
      parameters:
      - name: signature_request_id
        in: path
        description: The id of the SignatureRequest to retrieve.
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/SignatureRequestGetResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                410_example:
                  $ref: '#/components/examples/Error410Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestGetExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestGetExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestGetExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestGetExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestGetExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestGetExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestGetExample.sh
      x-meta:
        seo:
          title: Get Signature Request | Documentation | Dropbox Sign for Developers
          description: The Dropbox Sign API allows you to build custom integrations. To find out how to return the status of SignatureRequest specified by the parameters, click here.
  /signature_request/list:
    get:
      tags:
      - Signature Request
      summary: List Signature Requests
      description: 'Returns a list of SignatureRequests that you can access. This includes SignatureRequests you have sent as well as received, but not ones that you have been CCed on.


        Take a look at our [search guide](/api/reference/search/) to learn more about querying signature requests.'
      operationId: signatureRequestList
      parameters:
      - name: account_id
        in: query
        description: Which account to return SignatureRequests for. Must be a team member. Use `all` to indicate all team members. Defaults to your account.
        schema:
          type: string
      - name: page
        in: query
        description: Which page number of the SignatureRequest List to return. Defaults to `1`.
        schema:
          type: integer
          default: 1
          example: 1
      - name: page_size
        in: query
        description: Number of objects to be returned per page. Must be between `1` and `100`. Default is `20`.
        schema:
          type: integer
          default: 20
      - name: query
        in: query
        description: String that includes search terms and/or fields to be used to filter the SignatureRequest objects.
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestListResponse'
              examples:
                example:
                  $ref: '#/components/examples/SignatureRequestListResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                409_example:
                  $ref: '#/components/examples/Error409Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestListExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestListExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestListExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestListExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestListExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestListExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestListExample.sh
      x-meta:
        seo:
          title: List Signature Requests | REST API | Dropbox Sign for Developers
          description: The Dropbox Sign API allows you to build custom integrations. To find out how to return a list of SignatureRequests that you can access, click here.
  /signature_request/release_hold/{signature_request_id}:
    post:
      tags:
      - Signature Request
      summary: Release On-Hold Signature Request
      description: Releases a held SignatureRequest that was claimed and prepared from an [UnclaimedDraft](/api/reference/tag/Unclaimed-Draft). The owner of the Draft must indicate at Draft creation that the SignatureRequest created from the Draft should be held. Releasing the SignatureRequest will send requests to all signers.
      operationId: signatureRequestReleaseHold
      parameters:
      - name: signature_request_id
        in: path
        description: The id of the SignatureRequest to release.
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/SignatureRequestReleaseHoldResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      - oauth2:
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestReleaseHoldExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestReleaseHoldExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestReleaseHoldExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestReleaseHoldExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestReleaseHoldExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestReleaseHoldExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestReleaseHoldExample.sh
      x-meta:
        seo:
          title: Release On-Hold Signature Request | Dropbox Sign for Developers
          description: The RESTful Dropbox Sign API allows you to build custom eSign integrations. To find out how to release an on-hold SignatureRequest, click here.
  /signature_request/remind/{signature_request_id}:
    post:
      tags:
      - Signature Request
      summary: Send Request Reminder
      description: 'Sends an email to the signer reminding them to sign the signature request. You cannot send a reminder within 1 hour of the last reminder that was sent. This includes manual AND automatic reminders.


        **NOTE:** This action can **not** be used with embedded signature requests.'
      operationId: signatureRequestRemind
      parameters:
      - name: signature_request_id
        in: path
        description: The id of the SignatureRequest to send a reminder for.
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestRemindRequest'
            examples:
              example:
                $ref: '#/components/examples/SignatureRequestRemindRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/SignatureRequestRemindResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                409_example:
                  $ref: '#/components/examples/Error409Response'
                410_example:
                  $ref: '#/components/examples/Error410Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestRemindExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestRemindExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestRemindExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestRemindExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestRemindExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestRemindExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestRemindExample.sh
      x-meta:
        seo:
          title: Send Request Reminder | REST API | Dropbox Sign for Developers
          description: The RESTful Dropbox Sign API allows you to build custom eSign integrations. To find out how to send an email reminder to the signer, click here.
  /signature_request/remove/{signature_request_id}:
    post:
      tags:
      - Signature Request
      summary: Remove Signature Request Access
      description: 'Removes your access to a completed signature request. This action is **not reversible**.


        The signature request must be fully executed by all parties (signed or declined to sign). Other parties will continue to maintain access to the completed signature request document(s).


        Unlike /signature_request/cancel, this endpoint is synchronous and your access will be immediately removed. Upon successful removal, this endpoint will return a 200 OK response.'
      operationId: signatureRequestRemove
      parameters:
      - name: signature_request_id
        in: path
        description: The id of the SignatureRequest to remove.
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json: {}
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                409_example:
                  $ref: '#/components/examples/Error409Response'
                410_example:
                  $ref: '#/components/examples/Error410Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestRemoveExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestRemoveExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestRemoveExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestRemoveExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestRemoveExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestRemoveExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestRemoveExample.sh
      x-meta:
        seo:
          title: Remove Signature Request Access | Dropbox Sign for Developers
          description: The RESTful Dropbox Sign API allows you to build custom integrations. To find out how to remove your access to a completed signature request, click here.
  /signature_request/send:
    post:
      tags:
      - Signature Request
      summary: Send Signature Request
      description: Creates and sends a new SignatureRequest with the submitted documents. If `form_fields_per_document` is not specified, a signature page will be affixed where all signers will be required to add their signature, signifying their agreement to all contained documents.
      operationId: signatureRequestSend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestSendRequest'
            examples:
              example:
                $ref: '#/components/examples/SignatureRequestSendRequest'
              grouped_signers_example:
                $ref: '#/components/examples/SignatureRequestSendRequestGroupedSigners'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestSendRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/SignatureRequestSendResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                409_example:
                  $ref: '#/components/examples/Error409Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestSendExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestSendExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestSendExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestSendExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestSendExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestSendExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestSendExample.sh
      x-meta:
        seo:
          title: Send Signature Request | REST API | Dropbox Sign for Developers
          description: Dropbox Sign API allows you to build custom integrations. To find out how to create and send new SignatureRequest with the submitted documents, click here.
  /signature_request/send_with_template:
    post:
      tags:
      - Signature Request
      summary: Send with Template
      description: Creates and sends a new SignatureRequest based off of the Template(s) specified with the `template_ids` parameter.
      operationId: signatureRequestSendWithTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestSendWithTemplateRequest'
            examples:
              example:
                $ref: '#/components/examples/SignatureRequestSendWithTemplateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SignatureRequestSendWithTemplateRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/SignatureRequestSendWithTemplateResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      - oauth2:
        - request_signature
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestSendWithTemplateExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestSendWithTemplateExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestSendWithTemplateExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestSendWithTemplateExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestSendWithTemplateExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestSendWithTemplateExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestSendWithTemplateExample.sh
      x-meta:
        seo:
          title: Send with Template | API Documentation | Dropbox Sign for Developers
          description: Dropbox Sign API allows you to build custom integrations. To find out how to create and send a new SignatureRequest based off of the Template, click here.
  /signature_request/update/{signature_request_id}:
    post:
      tags:
      - Signature Request
      summary: Update Signature Request
      description: 'Updates the email address and/or the name for a given signer on a signature request. You can listen for the `signature_request_email_bounce` event on your app or account to detect bounced emails, and respond with this method.


        Updating the email address of a signer will generate a new `signature_id` value.


        **NOTE:** This action cannot be performed on a signature request with an appended signature page.'
      operationId: signatureRequestUpdate
      parameters:
      - name: signature_request_id
        in: path
        description: The id of the SignatureRequest to update.
        required: true
        schema:
          type: string
        example: fa5c8a0b0f492d768749333ad6fcc214c111e967
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureRequestUpdateRequest'
            examples:
              example:
                $ref: '#/components/examples/SignatureRequestUpdateRequest'
      responses:
        '200':
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureRequestGetResponse'
              examples:
                example:
                  $ref: '#/components/examples/SignatureRequestUpdateResponse'
        4XX:
          description: failed_operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400_example:
                  $ref: '#/components/examples/Error400Response'
                401_example:
                  $ref: '#/components/examples/Error401Response'
                402_example:
                  $ref: '#/components/examples/Error402Response'
                403_example:
                  $ref: '#/components/examples/Error403Response'
                429_example:
                  $ref: '#/components/examples/Error429Response'
                404_example:
                  $ref: '#/components/examples/Error404Response'
                409_example:
                  $ref: '#/components/examples/Error409Response'
                4XX_example:
                  $ref: '#/components/examples/Error4XXResponse'
      security:
      - api_key: []
      - oauth2:
        - signature_request_access
      x-codeSamples:
      - lang: PHP
        label: PHP
        source:
          $ref: examples/SignatureRequestUpdateExample.php
      - lang: C#
        label: C#
        source:
          $ref: examples/SignatureRequestUpdateExample.cs
      - lang: TypeScript
        label: TypeScript
        source:
          $ref: examples/SignatureRequestUpdateExample.ts
      - lang: Java
        label: Java
        source:
          $ref: examples/SignatureRequestUpdateExample.java
      - lang: Ruby
        label: Ruby
        source:
          $ref: examples/SignatureRequestUpdateExample.rb
      - lang: Python
        label: Python
        source:
          $ref: examples/SignatureRequestUpdateExample.py
      - lang: cURL
        label: cURL
        source:
          $ref: examples/SignatureRequestUpdateExample.sh
      x-meta:
        seo:
          title: Update Signature Request | REST API | Dropbox Sign for Developers
          description: Dropbox Sign API allows you to build custom integrations. To find out how to update the email address/name for a signer on a signature request, click here.
components:
  examples:
    Error401Response:
      summary: Error 401 unauthorized
      value:
        $ref: examples/json/Error401Response.json
    SignatureRequestBulkSendWithTemplateRequest:
      summary: Default Example
      value:
        $ref: examples/json/SignatureRequestBulkSendWithTemplateRequest.json
    SignatureRequestCreateEmbeddedResponse:
      summary: Create Embedded Signature Request
      value:
        $ref: examples/json/SignatureRequestCreateEmbeddedResponse.json
    SignatureRequestEditRequestGroupedSigners:
      summary: Grouped Signers Example
      value:
        $ref: examples/json/SignatureRequestEditRequestGroupedSigners.json
    Error400Response:
      summary: Error 400 bad_request
      value:
        $ref: examples/json/Error400Response.json
    Error4XXResponse:
      summary: Error 4XX failed_operation
      value:
        $ref: examples/json/Error4XXResponse.json
    SignatureRequestEditEmbeddedWithTemplateRequest:
      summary: Default Example
      value:
        $ref: examples/json/SignatureRequestEditEmbeddedWithTemplateRequest.json
    SignatureRequestCreateEmbeddedWithTemplateRequest:
      summary: Default Example
      value:
        $ref: examples/json/SignatureRequestCreateEmbeddedWithTemplateRequest.json
    SignatureRequestBulkCreateEmbeddedWithTemplateResponse:
      summary: Bulk Send Create Embedded Signature Request With Template
      value:
        $ref: examples/json/SignatureRequestBulkCreateEmbeddedWithTemplateResponse.json
    SignatureRequestUpdateRequest:
      summary: Default Example
      value:
        $ref: examples/json/SignatureRequestUpdateRequest.json
    Error429Response:
      summary: Error 429 exceeded_rate
      value:
        $ref: examples/json/Error429Response.json
    SignatureRequestSendWithTemplateResponse:
      summary: Send Signature Request With Template
      value:
        $ref: examples/json/SignatureRequestSendWithTemplateResponse.json
    SignatureRequestEditEmbeddedRequest:
      summary: Default Example
      value:
        $ref: examples/json/SignatureRequestEditEmbeddedRequest.json
    Error410Response:
      summary: Error 410 deleted
      value:
        $ref: examples/json/Error410Response.json
    SignatureRequestCreateEmbeddedRequest:
      summary: Default Example
      value:
        $ref: examples/json/SignatureRequestCreateEmbeddedRequest.json
    SignatureRequestBulkSendWithTemplateResponse:
      summary: Send Signature Request With Template
      value:
        $ref: examples/json/SignatureRequestBulkSendWithTemplateResponse.json
    Error402Response:
      summary: Error 402 payment_required
      value:
        $ref: examples/json/Error402Response.json
    Error403Response:
      summary: Error 403 forbidden
      value:
        $ref: examples/json/Error403Response.json
    SignatureRequestRemindResponse:
      summary: Send Signature Request Reminder
      value:
        $ref: examples/json/SignatureRequestRemindResponse.json
    SignatureRequestCreateEmbeddedWithTemplateResponse:
      summary: Create Embedded Signature Request With Template
      value:
        $ref: examples/json/SignatureRequestCreateEmbeddedWithTemplateResponse.json
    SignatureRequestRemindRequest:
      summary: Default Example
      value:
        $ref: examples/json/SignatureRequestRemindRequest.json
    SignatureRequestSendRequest:
      summary: Default Example
      value:
        $ref: examples/json/SignatureRequestSendRequest.json
    SignatureRequestEditWithTemplateRequest:
      summary: Default Example
      value:
        $ref: examples/json/SignatureRequestEditWithTemplateRequest.json
    SignatureRequestBulkCreateEmbeddedWithTemplateRequest:
      summary: Default Example
      value:
        $ref: examples/json/SignatureRequestBulkCreateEmbeddedWithTemplateRequest.json
    SignatureRequestSendRequestGroupedSigners:
      summary: Grouped Signers Example
      value:
        $ref: examples/json/SignatureRequestSendRequestGroupedSigners.json
    SignatureRequestReleaseHoldResponse:
      summary: Send Signature Release Hold
      value:
        $ref: examples/json/SignatureRequestReleaseHoldResponse.json
    SignatureRequestEditRequest:
      summary: Default Example
      value:
        $ref: examples/json/SignatureRequestEditRequest.json
    SignatureRequestSendWithTemplateRequest:
      summary: Default Example
      value:
        $ref: examples/json/SignatureRequestSendWithTemplateRequest.json
    SignatureRequestCreateEmbeddedRequestGroupedSigners:
      summary: Grouped Signers Example
      value:
        $ref: examples/json/SignatureRequestCreateEmbeddedRequestGroupedSigners.json
    Error409Response:
      summary: Error 409 conflict
      value:
        $ref: examples/json/Error409Response.json
    SignatureRequestEditEmbeddedRequestGroupedSigners:
      summary: Grouped Signers Example
      value:
        $ref: examples/json/SignatureRequestEditEmbeddedRequestGroupedSigners.json
    SignatureRequestUpdateResponse:
      summary: Signature Request Update
      value:
        $ref: examples/json/SignatureRequestUpdateResponse.json
    SignatureRequestFilesResponse:
      summary: Signature Requests Files
      value:
        $ref: examples/json/SignatureRequestFilesResponse.json
    Error404Response:
      summary: Error 404 not_found
      value:
        $ref: examples/json/Error404Response.json
    SignatureRequestListResponse:
      summary: List Signature Requests
      value:
        $ref: examples/json/SignatureRequestListResponse.json
    SignatureRequestSendResponse:
      summary: Send Signature Request
      value:
        $ref: examples/json/SignatureRequestSendResponse.json
    SignatureRequestGetResponse:
      summary: Get Signature Request
      value:
        $ref: examples/json/SignatureRequestGetResponse.json
  schemas:
    SignatureRequestEditWithTemplateRequest:
      description: ''
      required:
      - signers
      - template_ids
      properties:
        template_ids:
          description: Use `template_ids` to create a SignatureRequest from one or more templates, in the order in which the template will be used.
          type: array
          items:
            type: string
        allow_decline:
          description: Allows signers to decline to sign a document if `true`. Defaults to `false`.
          type: boolean
          default: false
        ccs:
          description: Add CC email recipients. Required when a CC role exists for the Template.
          type: array
          items:
            $ref: '#/components/schemas/SubCC'
        client_id:
          description: Client id of the app to associate with the signature request. Used to apply the branding and callback url defined for the app.
          type: string
        custom_fields:
          description: An array defining values and options for custom fields. Required when a custom field exists in the Template.
          type: array
          items:
            $ref: '#/components/schemas/SubCustomField'
        files:
          description: 'Use `files[]` to indicate the uploaded file(s) to send for signature.


            This endpoint requires either **files** or **file_urls[]**, but not both.'
          type: array
          items:
            type: string
            format: binary
        file_urls:
          description: 'Use `file_urls[]` to have Dropbox Sign download the file(s) to send for signature.


            This endpoint requires either **files** or **file_urls[]**, but not both.'
          type: array
          items:
            type: string
        is_eid:
          description: 'Send with a value of `true` if you wish to enable

            [electronic identification (eID)](https://www.hellosign.com/features/electronic-id),

            which requires the signer to verify their identity with an eID provider to sign a document.<br>

            **NOTE:** You need the eID add-on to use this feature. Please [contact sales](https://sign.dropbox.com/form/contact-sales) for more information. Cannot be used in `test_mode`. Only works on requests with one signer.'
          type: boolean
          default: false
        message:
          description: The custom message in the email that will be sent to the signers.
          type: string
          maxLength: 5000
        metadata:
          description: 'Key-value data that should be attached to the signature request. This metadata is included in all API responses and events involving the signature request. For example, use the metadata field to store a signer''s order number for look up when receiving events for the signature request.


            Each request can include up to 10 metadata keys (or 50 nested metadata keys), with key names up to 40 characters long and values up to 1000 characters long.'
          type: object
          maxItems: 10
          additionalProperties: {}
        signers:
          description: Add Signers to your Templated-based Signature Request.
          type: array
          items:
            $ref: '#/components/schemas/SubSignatureRequestTemplateSigner'
        signing_options:
          $ref: '#/components/schemas/SubSigningOptions'
        signing_redirect_url:
          description: The URL you want signers redirected to after they successfully sign.
          type: string
        subject:
          description: The subject in the email that will be sent to the signers.
          type: string
          maxLength: 255
        test_mode:
          description: Whether this is a test, the signature request will not be legally binding if set to `true`. Defaults to `false`.
          type: boolean
          default: false
        title:
          description: The title you want to assign to the SignatureRequest.
          type: string
          maxLength: 255
      type: object
    BulkSendJobResponse:
      description: Contains information about the BulkSendJob such as when it was created and how many signature requests are queued.
      properties:
        bulk_send_job_id:
          description: The id of the BulkSendJob.
          type: string
          nullable: true
        total:
          description: The total amount of Signature Requests queued for sending.
          type: integer
        is_creator:
          description: True if you are the owner of this BulkSendJob, false if it's been shared with you by a team member.
          type: boolean
        created_at:
          description: Time that the BulkSendJob was created.
          type: integer
      type: object
      x-internal-class: true
    SignatureRequestEditRequest:
      properties:
        files:
          description: 'Use `files[]` to indicate the uploaded file(s) to send for signature.


            This endpoint requires either **files** or **file_urls[]**, but not both.'
          type: array
          items:
            type: string
            format: binary
        file_urls:
          description: 'Use `file_urls[]` to have Dropbox Sign download the file(s) to send for signature.


            This endpoint requires either **files** or **file_urls[]**, but not both.'
          type: array
          items:
            type: string
        signers:
          description: 'Add Signers to your Signature Request.


            This endpoint requires either **signers** or **grouped_signers**, but not both.'
          type: array
          items:
            $ref: '#/components/schemas/SubSignatureRequestSigner'
        grouped_signers:
          description: 'Add Grouped Signers to your Signature Request.


            This endpoint requires either **signers** or **grouped_signers**, but not both.'
          type: array
          items:
            $ref: '#/components/schemas/SubSignatureRequestGroupedSigners'
        allow_decline:
          description: Allows signers to decline to sign a document if `true`. Defaults to `false`.
          type: boolean
          default: false
        allow_reassign:
          description: 'Allows signers to reassign their signature requests to other signers if set to `true`. Defaults to `false`.


            **NOTE:** Only available for Premium plan and higher.'
          type: boolean
          default: false
        attachments:
          description: A list describing the attachments
          type: array
          items:
            $ref: '#/components/schemas/SubAttachment'
        cc_email_addresses:
          description: The email addresses that should be CCed.
          type: array
          items:
            type: string
            format: email
        client_id:
          description: The client id of the API App you want to associate with this request. Used to apply the branding and callback url defined for the app.
          type: string
        custom_fields:
          description: 'When used together with merge fields, `custom_fields` allows users to add pre-filled data to their signature requests.


            Pre-filled data can be used with "send-once" signature requests by adding merge fields with `form_fields_per_document` or [Text Tags](https://app.hellosign.com/api/textTagsWalkthrough#TextTagIntro) while passing values back with `custom_fields` together in one API call.


            For using pre-filled on repeatable signature requests, merge fields are added to templates in the Dropbox Sign UI or by calling [/template/create_embedded_draft](/api/reference/operation/templateCreateEmbeddedDraft) and then passing `custom_fields` on subsequent signature requests referencing that template.'
          type: array
          items:
            $ref: '#/components/schemas/SubCustomField'
        field_options:
          $ref: '#/components/schemas/SubFieldOptions'
        form_field_groups:
          description: Group information for fields defined in `form_fields_per_document`. String-indexed JSON array with `group_label` and `requirement` keys. `form_fields_per_document` must contain fields referencing a group defined in `form_field_groups`.
          type: array
          items:
            $ref: '#/components/schemas/SubFormFieldGroup'
        form_field_rules:
          description: Conditional Logic rules for fields defined in `form_fields_per_document`.
          type: array
          items:
            $ref: '#/components/schemas/SubFormFieldRule'
        form_fields_per_document:
          description: 'The fields that should appear on the document, expressed as an array of objects. (For more details you can read about it here: [Using Form Fields per Document](/docs/openapi/form-fields-per-document).)


            **NOTE:** Fields like **text**, **dropdown**, **checkbox**, **radio**, and **hyperlink** have additional required and optional parameters. Check out the list of [additional parameters](/api/reference/constants/#form-fields-per-document) for these field types.


            * Text Field use `SubFormFieldsPerDocumentText`

            * Dropdown Field use `SubFormFieldsPerDocumentDropdown`

            * Hyperlink Field use `SubFormFieldsPerDocumentHyperlink`

            * Checkbox Field use `SubFormFieldsPerDocumentCheckbox`

            * Radio Field use `SubFormFieldsPerDocumentRadio`

            * Signature Field use `SubFormFieldsPerDocumentSignature`

            * Date Signed Field use `SubFormFieldsPerDocumentDateSigned`

            * Initials Field use `SubFormFieldsPerDocumentInitials`

            * Text Merge Field use `SubFormFieldsPerDocumentTextMerge`

            * Checkbox Merge Field use `SubFormFieldsPerDocumentCheckboxMerge`'
          type: array
          items:
            $ref: '#/components/schemas/SubFormFieldsPerDocumentBase'
        hide_text_tags:
          description: 'Enables automatic Text Tag removal when set to true.


            **NOTE:** Removing text tags this way can cause unwanted clipping. We recommend leaving this setting on `false` and instead hiding your text tags using white text or a similar approach. See the [Text Tags Walkthrough](https://app.hellosign.com/api/textTagsWalkthrough#TextTagIntro) for more information.'
          type: boolean
          default: false
        is_eid:
          description: 'Send with a value of `true` if you wish to enable

            [electronic identification (eID)](https://www.hellosign.com/features/electronic-id),

            which requires the signer to verify their identity with an eID provider to sign a document.<br>

            **NOTE:** You need the eID add-on to use this feature. Please [contact sales](https://sign.dropbox.com/form/contact-sales) for more information. Cannot be used in `test_mode`. Only works on requests with one signer.'
          type: boolean
          default: false
        message:
          description: The custom message in the email that will be sent to the signers.
          type: string
          maxLength: 5000
        metadata:
          description: 'Key-value data that should be attached to the signature request. This metadata is included in all API responses and events involving the signature request. For example, use the metadata field to store a signer''s order number for look up when receiving events for the signature request.


            Each request can include up to 10 metadata keys (or 50 nested metadata keys), with key names up to 40 characters long and values up to 1000 characters long.'
          type: object
          maxItems: 10
          additionalProperties: {}
        signing_options:
          $ref: '#/components/schemas/SubSigningOptions'
        signing_redirect_url:
          description: The URL you want signers redirected to after they successfully sign.
          type: string
        subject:
          description: The subject in the email that will be sent to the signers.
          type: string
          maxLength: 255
        test_mode:
          description: Whether this is a test, the signature request will not be legally binding if set to `true`. Defaults to `false`.
          type: boolean
          default: false
        title:
          description: The title you want to assign to the SignatureRequest.
          type: string
          maxLength: 255
        use_text_tags:
          description: Send with a value of `true` if you wish to enable [Text Tags](https://app.hellosign.com/api/textTagsWalkthrough#TextTagIntro) parsing in your document. Defaults to disabled, or `false`.
          type: boolean
          default: false
        expires_at:
          description: When the signature request will expire. Unsigned signatures will be moved to the expired status, and no longer signable. See [Signature Request Expiration Date](https://developers.hellosign.com/docs/signature-request/expiration/) for details.
          type: integer
          nullable: true
      type: object
    SignatureRequestSendRequest:
      properties:
        files:
          description: 'Use `files[]` to indicate the uploaded file(s) to send for signature.


            This endpoint requires either **files** or **file_urls[]**, but not both.'
          type: array
          items:
            type: string
            format: binary
        file_urls:
          description: 'Use `file_urls[]` to have Dropbox Sign download the file(s) to send for signature.


            This endpoint requires either **files** or **file_urls[]**, but not both.'
          type: array
          items:
            type: string
        signers:
          description: 'Add Signers to your Signature Request.


            This endpoint requires either **signers** or **grouped_signers**, but not both.'
          type: array
          items:
            $ref: '#/components/schemas/SubSignatureRequestSigner'
        grouped_signers:
          description: 'Add Grouped Signers to your Signature Request.


            This endpoint requires either **signers** or **grouped_signers**, but not both.'
          type: array
          items:
            $ref: '#/components/schemas/SubSignatureRequestGroupedSigners'
        allow_decline:
          description: Allows signers to decline to sign a document if `true`. Defaults to `false`.
          type: boolean
          default: false
        allow_reassign:
          description: 'Allows signers to reassign their signature requests to other signers if set to `true`. Defaults to `false`.


            **NOTE:** Only available for Premium plan and higher.'
          type: boolean
          default: false
        attachments:
          description: A list describing the attachments
          type: array
          items:
            $ref: '#/components/schemas/SubAttachment'
        cc_email_addresses:
          description: The email addresses that should be CCed.
          type: array
          items:
            type: string
            format: email
[...]
